<div class="qu-page">
    {{> header/header-auth}}

    <div class="qu-page__body qu-stretch">
        <div class="qu-container">
            <div class="qu-content">
                <h3>New Playlist</h3>
                <form>
                    <div class="qu-form-input qu-error-show">
                        <label>Playlist Name <span>*</span></label>
                        <input type="text" name="" placeholder="Enter Name" value="Enter Name">
                        <div class="qu-form-input__error">Playlist Name can’t be empty.</div>
                    </div>

                    <div class="qu-form-input qu-form-select">
                        <label>New Password <span>*</span></label>
                        <select class="select2" style="width: 100%" data-placeholder="Select Type">
                            <option></option>
                            <option>Text</option>
                            <option>Image</option>
                        </select>
                        <div class="qu-form-input__error">Playlist Type can’t be empty.</div>
                    </div>

                    <div class="qu-row-btn">
                        <button type="reset" class="qu-button qu-button-border">Cancel</button>
                        <button type="submit" class="qu-button qu-button-blue">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{{> modal/modal}}
