<div class="qu-page">
    {{> header/header-auth}}

    <div class="qu-page__body qu-stretch">
        <div class="qu-container">
            <div class="qu-tabs">
                <div class="qu-tabs__content">
                    <div class="qu-tabs__item active">
                        <div class="qu-league">
                            <h3>Advert Playlists</h3>

                            <form>
                                <div class="qu-form-search">
                                    <div class="qu-form-group">
                                        <input type="text" name="" placeholder="Search leagues">

                                        <button type="button" class="qu-form-group__button">
                                            <span class="icon icon-search"></span>
                                        </button>
                                    </div>

                                    <button type="submit" class="qu-button qu-button-border">Add</button>
                                </div>
                            </form>

                            <div class="qu-league__links">
                                {{#repeat 7}}

                                <a href="playlist.html" class="qu-playlists">
                                    <div>
                                        <h4>Playlist 1</h4>
                                        <p>Premium</p>
                                    </div>

                                    <div class="qu-playlists__arrow">
                                    </div>
                                </a>

                                {{/repeat}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{> modal/modal}}
