<div class="qu-page">
    {{> header/header-auth}}

    <div class="qu-page__body qu-stretch">
        <div class="qu-container">
            <div class="qu-tabs">
                <div class="qu-tabs__content">
                    <div class="qu-tabs__item active">
                        <div class="qu-league">
                            <h3>Playlist 1</h3>

                            <form>
                                <div class="qu-form-search">
                                    <div class="qu-form-group">
                                        <input type="text" name="" placeholder="Search leagues">

                                        <button type="button" class="qu-form-group__button">
                                            <span class="icon icon-search"></span>
                                        </button>
                                    </div>

                                    <button type="submit" class="qu-button qu-button-border">Add</button>
                                </div>
                            </form>

                            <div class="qu-league__links">
                                {{#repeat 7}}

                                <a href="#" class="qu-league__link qu-playlist-item qu-playlist-item-reorder">
                                    <div class="qu-playlist-item__reorder-icon">
                                        <span></span>
                                        <span></span>
                                    </div>

                                    <div class="qu-league__link--icon">
                                        <img src="static/img/content/playlist.svg" alt="">
                                    </div>
                                    <p>Addvert 1</p>

                                    <div class="qu-league__link--arrow">
                                    </div>
                                </a>

                                {{/repeat}}

                                <div class="qu-row-btn">
                                    <a href="#" class="qu-button qu-button-border">Cancel</a>
                                    <a href="#" class="qu-button qu-button-blue">Save</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{> modal/modal}}
