.qu-playlists {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 14px 16px;
    position: relative;
    cursor: pointer;
    border-bottom: 1px solid $semi-light-color;
    text-decoration: none;
    transition: all 0.25s;

    &:hover {
        text-decoration: none;
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.16);
    }

    h4 {
        @extend %h6;
        font-family: $font-Roboto;
        font-weight: 500;
        color: $black-color;
        margin-bottom: 0;
    }

    p {
        @extend %text14;
        font-family: $font-Roboto;
        color: $semi-dark-color;
        margin-right: auto;
        margin-bottom: 0;
        transition: all 0.25s;
    }

    &__arrow {
        width: 16px;
        height: 16px;
        flex-shrink: 0;
        margin-left: auto;
        @include bg-svg($link-arrow);
        margin-right: 0;
    }
}

.qu-playlist-item {

    $f: &;

    &:hover {
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.16);

        p {
            color: $black-color;
        }
    }

    &.qu-playlist-item-reorder {
        cursor: move;
        cursor: grab;
        cursor: -moz-grab;
        cursor: -webkit-grab;

        &:active {
            cursor: grabbing;
            cursor: -moz-grabbing;
            cursor: -webkit-grabbing;
        }

        #{$f}__reorder-icon {
            display: flex;
        }
    }

    &__reorder-icon {
        width: 16px;
        height: 8px;
        margin-right: 16px;
        flex-shrink: 0;
        flex-direction: column;
        justify-content: space-between;
        display: none;

        span {
            display: block;
            height: 0;
            width: 100%;
            border-top: 2px solid $regular-color;
            border-radius: 3px;
        }
    }
}
