.qu-modal {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 15;
    background: rgba(0, 0, 0, 0.3);
    opacity: 0;
    visibility: hidden;
    padding: 120px 0 40px;

    &.show {
        opacity: 1;
        visibility: visible;
    }

    &__content {
        margin: auto;
        width: 100%;
        max-width: 400px;
        background-color: $white-color;
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.16);
        border-radius: 8px;
        padding: 24px;
        @media screen and (max-width: 576px) {
            width: calc(100% - 32px);
        }
    }

    &__header {
        margin-bottom: 24px;
        h3 {
            @extend %h3;
            margin-bottom: 16px;
        }
        h6 {
            @extend %h6;
            font-family: $font-Roboto;
            margin-bottom: 16px;
        }
    }

    &__body {
        p {
            @extend %text16;
            font-family: $font-Roboto;
            color: $black-color;
        }

        .qu-form-error {
            padding: 8px 0 44px;
            @media screen and (max-width: 576px) {
               padding-bottom: 0;
            }

            p {
                @extend %text12;
                font-family: $font-Roboto;
                color: $danger-color;
                margin-bottom: 0;
            }
        }

        .qu-row-btn {
            padding-top: 20px;
        }
    }
}
