<div class="qu-page">
    {{>header/header-auth}}


    <div class="qu-page__body">
        <a href="javascript:void(0)" data-modal="#modalSignUp" class="qu-button qu-button-blue">modal sign up</a>

        <a href="javascript:void(0)" data-modal="#modalLogIn" class="qu-button qu-button-blue">modal log in</a>

        <a href="javascript:void(0)" data-modal="#modalSuccess" class="qu-button qu-button-blue">modal success</a>

        <a href="javascript:void(0)" data-modal="#modalDelete" class="qu-button qu-button-blue">modal delete</a>

        <a href="javascript:void(0)" data-modal="#modalPassword" class="qu-button qu-button-blue">modal save
            password</a>
    </div>
</div>

{{> modal/modal}}
