<div class="qu-modal" id="modalSignUp">
    <div class="qu-modal__content">
        <div class="qu-modal__header">
            <h3>Sign Up</h3>
            <h6>Become a QuickScore Member. It is very simple!</h6>
        </div>
        <div class="qu-modal__body">
            <form>
                <div class="qu-form-input">
                    <label>Name</label>
                    <input type="text" name="" placeholder="Enter Name">
                </div>

                <div class="qu-form-input">
                    <label>Email</label>
                    <input type="email" name="" placeholder="Enter Email">
                </div>

                <div class="qu-form-input">
                    <label>Password</label>
                    <input type="password" name="" placeholder="Enter Password">
                </div>

                <div class="qu-form-input">
                    <label>Coniform Password</label>
                    <input type="password" name="" placeholder="Enter Password">
                </div>

                <div class="qu-row-btn">
                    <button type="reset" class="qu-button qu-button-border">Cancel</button>

                    <button type="submit" class="qu-button qu-button-blue">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="qu-modal" id="modalLogIn">
    <div class="qu-modal__content">
        <div class="qu-modal__header">
            <h3>Log In</h3>
        </div>
        <div class="qu-modal__body">
            <form>
                <div class="qu-form-input">
                    <label>Email</label>
                    <input type="email" name="" placeholder="Enter Email">
                </div>

                <div class="qu-form-input">
                    <label>Password</label>
                    <input type="password" name="" placeholder="Enter Password">
                </div>

                <div class="qu-form-error show">
                    <p>There is no user record corresponding to this identifier. The user may have been deleted.</p>
                </div>

                <div class="qu-row-btn">
                    <button type="reset" class="qu-button qu-button-border">Cancel</button>

                    <button type="submit" class="qu-button qu-button-blue">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="qu-modal" id="modalSuccess">
    <div class="qu-modal__content">
        <div class="qu-modal__header">
            <h3>Quickscore</h3>
        </div>
        <div class="qu-modal__body">
            <form>
                <p>Your account has been registered successfully!</p>

                <div class="qu-row-btn">
                    <button type="submit" class="qu-button qu-button-blue">Ok</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="qu-modal" id="modalDelete">
    <div class="qu-modal__content">
        <div class="qu-modal__header">
            <h3>Do you really want to delete resource?</h3>
        </div>
        <div class="qu-modal__body">
            <form>
                <div class="qu-row-btn">
                    <button type="button" class="qu-button qu-button-border">Cancel</button>
                    <button type="submit" class="qu-button qu-button-danger">Delete</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="qu-modal" id="modalPassword">
    <div class="qu-modal__content">
        <div class="qu-modal__header">
            <h3>Log in again</h3>
        </div>
        <div class="qu-modal__body">
            <form>
                <p>This operation is sensitive and requires recent authentication. Log in again before retrying this
                    request.</p>

                <div class="qu-row-btn">
                    <button type="submit" class="qu-button qu-button-blue">OK</button>
                </div>
            </form>
        </div>
    </div>
</div>

