<!doctype html>
<html class="no-js" lang="ru">

    <head>
        {{> head/head head.defaults}}
    </head>

    <body>
        %=symbols=%

        <ul>
            <li>
                <a href="signup.html">sign up page</a>
            </li>
            <li>
                <a href="modal-page.html">modal page</a>
            </li>
            <li>
                <a href="no-matches.html">no matches</a>
            </li>
            <li>
                <a href="matches.html">matches</a>
            </li>
            <li>
                <a href="game.html">game</a>
            </li>
            <li>
                <a href="league.html">league</a>
            </li>
            <li>
                <a href="create.html">add item</a>
            </li>
            <li>
                <a href="add-fixture.html">add-fixture</a>
            </li>
            <li>
                <a href="profile.html">profile</a>
            </li>
            <li>
                <a href="change-password.html">change-password</a>
            </li>
            <li>
                <a href="delete.html">delete</a>
            </li>
            <li>
                <a href="playlists.html">playlists</a>
            </li>
            <li>
                <a href="playlist.html">playlist</a>
            </li>
            <li>
                <a href="playlist-reorder.html">playlist-reorder</a>
            </li>
            <li>
                <a href="new-playlist.html">new-playlist</a>
            </li>
            <li>
                <a href="add-fixture.html">add fixture</a>
            </li>
        </ul>

        <script src="%=static=%js/separate-js/svg4everybody.min.js"></script>
        <script>svg4everybody();</script>

        <!-- Main scripts. You can replace it, but I recommend you to leave it here     -->
        <script src="%=static=%js/main%=hash=%%=min=%.js"></script>
    </body>

</html>
