.qu-game {
    &-top {
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.16);
        width: 100%;
        max-width: 600px;
        margin: 0 auto 24px;
        border-radius: 8px;
    }

    &__header {
        background: $dark-blue-color;
        padding: 16px 0 24px;
        border-radius: 8px 8px 0 0;

        h5 {
            @extend %h5;
            font-family: $font-Roboto;
            color: $white-color;
            margin-bottom: 8px;
        }

        .qu-col {
            &:first-child {
                text-align: right;
                padding-right: 16px;
            }

            &:last-child {
                text-align: left;
                padding-left: 16px;
            }
        }

        &-player {
            display: flex;
            align-items: center;

            h2 {
                font-weight: bold;
                font-size: 32px;
                line-height: 39px;
                margin-bottom: 0;
                color: $white-color;
            }

            &.qu-first {
                justify-content: flex-end;
            }

            &.qu-second {
                justify-content: flex-start;
            }
        }

        &-logo {
            width: 48px;
            height: 48px;
            flex-shrink: 0;
            border-radius: 50%;
            overflow: hidden;
            margin: 0 30px;
            position: relative;

            img {
                @include p-absolute;
                @include full-img;
            }
        }
    }

    &__goals {
        background-color: $white-color;
        border-radius: 0 0 8px 8px;
        padding: 16px 0 16px;
    }

    &__goal {
        display: flex;
        align-items: center;
        margin-bottom: 12px;

        &:last-child {
            margin-bottom: 0;
        }

        time {
            display: block;
            @extend %text12;
            font-family: $font-Roboto;
            color: $semi-dark-color;
            margin-bottom: 2px;
        }

        p {
            @extend %text14;
            font-family: $font-Roboto;
            color: $dark-color;
            margin-bottom: 0;
        }

        &.qu-first {
            padding-right: 8px;
            text-align: right;
            justify-content: flex-end;

            .qu-icon {
                margin-left: 8px;
            }
        }

        &.qu-second {
            padding-left: 8px;
            text-align: left;
            justify-content: flex-start;

            .qu-icon {
                margin-right: 8px;
            }
        }

        .qu-icon {
            flex-shrink: 0;
        }
    }
}

.qu-game {
    $f: &;

    &__wrap {
        padding: 24px 0;
        width: 100%;
        background: $white-color;
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.16);
        border-radius: 8px;
    }

    &__event {
        display: flex;
        align-items: flex-start;
        padding-left: 64px;
        padding-bottom: 44px;
        position: relative;
        @media screen and (max-width: 576px) {
            padding-left: 16px;
        }

        &:after {
            @include before;
            height: calc(100% - 44px);
            width: 0;
            position: absolute;
            bottom: 12px;
            left: 104px;
            border-right: 1px solid $semi-light-color;

            @media screen and (max-width: 576px) {
                left: 56px;
            }
        }

        &--icon {
            width: 24px;
            height: 24px;
            margin-right: 16px;
            flex-shrink: 0;
            position: relative;

            .qu-icon {
                display: block;
                @include p-absolute;
                @include center
            }
        }

        &--time {
            @extend %text14;
            font-weight: 500;
            line-height: 24px;
            font-family: $font-Roboto;
            color: $semi-dark-color;
            flex-shrink: 0;
            margin-right: 17px;
        }

        &--info {
        }

        &--title {
            display: flex;
            align-items: center;
            margin-bottom: 16px;

            h6 {
                @extend %text16;
                font-weight: 500;
                font-family: $font-Roboto;
                line-height: 24px;
                color: $regular-blue-color;
                margin-bottom: 0;

                span {
                    color: $dark-color;
                }
            }
        }

        &--team {
            width: 24px;
            height: 24px;
            margin-right: 8px;
            flex-shrink: 0;
            border-radius: 50%;
            overflow: hidden;
            position: relative;

            img {
                @include p-absolute;
                @include full-img;
            }
        }

        &--player {
            display: flex;
            align-items: center;
            margin-bottom: 8px;
            padding-left: 32px;

            &.qu-substitution {
                padding-left: 64px;
                margin-bottom: -20px;

                #{$f}__event--ava {
                    width: 24px;
                    height: 24px;
                    margin-right: 12px;
                }

                p {
                    @extend %text14;
                    color: $semi-dark-color;
                }
            }

            p {
                @extend %text16;
                font-family: $font-Roboto;
                margin-bottom: 0;
                color: $dark-color;

                span {
                    font-weight: 500;
                    padding-right: 6px;
                }
            }
        }

        &--ava {
            width: 32px;
            height: 32px;
            border-radius: 50%;
            margin-right: 16px;
            flex-shrink: 0;
            overflow: hidden;
            position: relative;

            img {
                @include p-absolute;
                @include full-img;
            }
        }
    }

    &__event-last {
        padding-bottom: 14px;

        &:after {
            bottom: 0;
            height: calc(100% - 36px);
        }
    }

    &__event-end {
        padding-bottom: 0;

        &:after {
            display: none;
        }
    }

    &__table {
        margin-left: 128px;
        margin-bottom: 30px;
        @media screen and (max-width: 576px) {
            margin-left: 74px;
        }

        &--row {
            width: 240px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-family: $font-Roboto;
            color: $dark-color;
            margin-bottom: 10px;
            @media screen and (max-width: 576px) {
                width: 100%;
                max-width: 230px;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }

        &--col1 {
            width: 20px;
            text-align: left;
            @extend %text16;
            font-weight: 500;
            flex-shrink: 0;
        }

        &--col2 {
            flex-grow: 1;
            text-align: center;
            @extend %text14;
        }

        &--col3 {
            width: 20px;
            text-align: right;
            @extend %text16;
            font-weight: 500;
            flex-shrink: 0;
        }
    }
}

.qu-stat {
    background: $white-color;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.16);
    border-radius: 8px;
    margin: 0 auto 16px;
    padding: 24px 0;
    @media screen and (max-width: 576px) {
        padding: 16px;
    }

    &__wrap {
        width: 100%;
        max-width: 472px;
        margin: 0 auto;
    }

    &__title {
        position: relative;
        margin-bottom: 24px;

        &:after {
            @include before;
            width: 100%;
            height: 0;
            border-top: 1px solid $regular-blue-color;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            margin: auto;
            z-index: 1;
        }

        h2 {
            display: table;
            @extend %text16;
            text-transform: uppercase;
            color: $regular-blue-color;
            padding: 0 14px;
            position: relative;
            background-color: $white-color;
            margin: 0 auto;
            z-index: 2;
        }
    }

    &__accuracy {
        h5, h6 {
            text-align: center;
            font-family: $font-Roboto;
        }

        h5 {
            @extend %h6;
            margin-bottom: 3px;
        }
        h6 {
            @extend %text14;
            color: $semi-dark-color;
            font-weight: 400;
            margin-bottom: 8px;
        }

        &--numbers {
            display: flex;
            align-items: flex-start;
            margin-bottom: 16px;
            justify-content: space-between;
        }

        &--number {
            text-align: center;
            font-weight: bold;
            font-size: 24px;
            line-height: 29px;
            color: $dark-color;
            width: 40%;

            p {
                @extend %text14;
                font-weight: 400;
                margin: 4px 0 0;
            }
        }

        &--wrap {
            display: flex;
            align-items: stretch;
            position: relative;
            height: 122px;
            color: $white-color;
            margin-bottom: 16px;
            border-radius: 8px;

            &:before {
                @include before;
                @include p-absolute;
                top: 43px;
                left: 0;
                right: 0;
                margin: auto;
                width: 268px;
                height: 92px;
                border: 12px solid $white-color;
                box-sizing: border-box;
                border-radius: 8px;
                @media screen and (max-width: 576px) {
                    width: 172px;
                }
            }
        }

        &--player1 {
            width: 50%;
            flex-shrink: 0;
            background-color: $dark-blue-color;
            border-radius: 8px 0 0 8px;
        }
        &--player2 {
            width: 50%;
            flex-shrink: 0;
            background-color: $light-blue-color;
            border-radius: 0 8px 8px 0;
        }

        &--line1 {
            @include p-absolute;
            padding: 8px 16px 0;
            box-sizing: border-box;
            width: 100%;
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            color: $white-color;

            h3 {
                @extend %h3;
                color: $white-color;
                margin-bottom: 0;
            }
            h4 {
                @extend %h6;
                color: $white-color;
                font-family: $font-Roboto;
                margin-bottom: 12px;
            }
        }

        &--line2 {
            @include p-absolute;
            width: 118px;
            bottom: 0;
            top: auto;
            left: 0;
            right: 0;
            margin: auto;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            padding-bottom: 8px;

            h3 {
                @extend %h3;
                color: $white-color;
                margin-bottom: 0;
            }
            h4 {
                @extend %h6;
                color: $white-color;
                font-family: $font-Roboto;
                margin-bottom: 7px;
                text-align: center;
            }
        }
    }
}

.qu-progress {
    margin-bottom: 18px;

    &:last-child {
        margin-bottom: 0;
    }

    &__title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 4px;
        color: $dark-color;

        h5 {
            @extend %text16;
            font-family: $font-Roboto;
            font-weight: 500;
            margin-bottom: 0;
        }

        h4 {
            @extend %h3;
            margin-bottom: 0;
            width: 50px;
            flex-shrink: 0;

            &:last-child {
                text-align: right;
            }
        }
    }

    &__bar {
        width: 100%;
        height: 12px;
        position: relative;
        background: $light-blue-color;
        border-radius: 8px;
        overflow: hidden;
    }

    &__line {
        width: 0;
        height: 100%;
        @include p-absolute;
        transition: all 0.25s;
        background: $dark-blue-color;
        border-radius: 8px;
        z-index: 2;
    }
}
