<div class="qu-page">
    {{>header/header-auth}}

    <div class="qu-page__body">
        <div class="qu-container">
            <div class="qu-game-top">
                <div class="qu-game__header">
                    <div class="qu-row">
                        <div class="qu-col">
                            <h5>Dorking<br>
                                Wanderers</h5>
                        </div>
                        <div class="qu-col">
                            <h5>Whitehawk FC</h5>
                        </div>
                    </div>

                    <div class="qu-row">
                        <div class="qu-col">
                            <div class="qu-game__header-player qu-first">
                                <div class="qu-game__header-logo">
                                    <img src="static/img/content/logo-game1.png" alt="">
                                </div>
                                <h2>2</h2>
                            </div>
                        </div>
                        <div class="qu-col">
                            <div class="qu-game__header-player qu-second">
                                <h2>1</h2>
                                <div class="qu-game__header-logo">
                                    <img src="static/img/content/logo-game2.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="qu-game__goals">
                    <div class="qu-row">
                        <div class="qu-col">
                            <div class="qu-game__goal qu-first">
                                <div>
                                    <time>00:15</time>
                                    <p>S. Powell</p>
                                </div>
                                <div class="qu-icon qu-ball-red"></div>
                            </div>

                            <div class="qu-game__goal qu-first">
                                <div>
                                    <time>00:15</time>
                                    <p>S. Powell</p>
                                </div>
                                <div class="qu-icon qu-ball-black"></div>
                            </div>
                        </div>

                        <div class="qu-col">
                            <div class="qu-game__goal qu-second">
                                <div class="qu-icon qu-ball-black"></div>
                                <div>
                                    <time>00:15</time>
                                    <p>J. Iarim</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="qu-tabs">
                <div class="qu-tabs__nav">
                    <a href="javascript:void(0)" class="qu-tabs__link active" data-tab="#keyEvents">KEY EVENTS</a>
                    <a href="javascript:void(0)" class="qu-tabs__link" data-tab="#stats">STATS</a>
                </div>

                <div class="qu-tabs__content qu-tabs__content-transparent">
                    <div id="keyEvents" class="qu-tabs__item active">
                        <div class="qu-game">
                            <div class="qu-game__wrap">
                                <!-- first -->
                                <div class="qu-game__event">
                                    <div class="qu-game__event--icon">
                                        <span class="qu-icon qu-icon-time"></span>
                                    </div>
                                    <div class="qu-game__event--time">00:00</div>
                                    <div class="qu-game__event--info">
                                        <div class="qu-game__event--title">
                                            <h6>Shot on target</h6>
                                        </div>
                                    </div>
                                </div>

                                <div class="qu-game__event">
                                    <div class="qu-game__event--icon">
                                        <span class="qu-icon"></span>
                                    </div>
                                    <div class="qu-game__event--time">00:13</div>
                                    <div class="qu-game__event--info">
                                        <div class="qu-game__event--title">
                                            <div class="qu-game__event--team">
                                                <img src="static/img/content/logo-game1.png" alt="">
                                            </div>
                                            <h6>Shot on target</h6>
                                        </div>

                                        <div class="qu-game__event--player">
                                            <div class="qu-game__event--ava">
                                                <img src="static/img/content/player-ava.png" alt="">
                                            </div>
                                            <p><span>5</span> S. Powell</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="qu-game__event">
                                    <div class="qu-game__event--icon">
                                        <span class="qu-icon"></span>
                                    </div>
                                    <div class="qu-game__event--time">10:17</div>
                                    <div class="qu-game__event--info">
                                        <div class="qu-game__event--title">
                                            <div class="qu-game__event--team">
                                                <img src="static/img/content/logo-game1.png" alt="">
                                            </div>
                                            <h6>Corner</h6>
                                        </div>
                                    </div>
                                </div>

                                <div class="qu-game__event">
                                    <div class="qu-game__event--icon">
                                        <span class="qu-icon"></span>
                                    </div>
                                    <div class="qu-game__event--time">15:13</div>
                                    <div class="qu-game__event--info">
                                        <div class="qu-game__event--title">
                                            <div class="qu-game__event--team">
                                                <img src="static/img/content/logo-game1.png" alt="">
                                            </div>
                                            <h6>Shot on target</h6>
                                        </div>

                                        <div class="qu-game__event--player">
                                            <div class="qu-game__event--ava">
                                                <img src="static/img/content/player-ava.png" alt="">
                                            </div>
                                            <p><span>5</span> S. Powell</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="qu-game__event">
                                    <div class="qu-game__event--icon">
                                        <span class="qu-icon"></span>
                                    </div>
                                    <div class="qu-game__event--time">27:17</div>
                                    <div class="qu-game__event--info">
                                        <div class="qu-game__event--title">
                                            <div class="qu-game__event--team">
                                                <img src="static/img/content/logo-game1.png" alt="">
                                            </div>
                                            <h6>Offside</h6>
                                        </div>
                                    </div>
                                </div>

                                <div class="qu-game__event">
                                    <div class="qu-game__event--icon">
                                        <span class="qu-icon"></span>
                                    </div>
                                    <div class="qu-game__event--time">35:00</div>
                                    <div class="qu-game__event--info">
                                        <div class="qu-game__event--title">
                                            <div class="qu-game__event--team">
                                                <img src="static/img/content/logo-game1.png" alt="">
                                            </div>
                                            <h6>Foul</h6>
                                        </div>

                                        <div class="qu-game__event--player">
                                            <div class="qu-game__event--ava">
                                                <img src="static/img/content/player-ava.png" alt="">
                                            </div>
                                            <p><span>5</span> S. Powell</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="qu-game__event">
                                    <div class="qu-game__event--icon">
                                        <span class="qu-icon qu-ball-blue"></span>
                                    </div>
                                    <div class="qu-game__event--time">37:02</div>
                                    <div class="qu-game__event--info">
                                        <div class="qu-game__event--title">
                                            <div class="qu-game__event--team">
                                                <img src="static/img/content/logo-game1.png" alt="">
                                            </div>
                                            <h6>Goal <span>1-0</span></h6>
                                        </div>

                                        <div class="qu-game__event--player">
                                            <div class="qu-game__event--ava">
                                                <img src="static/img/content/player-ava.png" alt="">
                                            </div>
                                            <p><span>5</span> S. Powell</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="qu-game__event qu-game__event-last">
                                    <div class="qu-game__event--icon">
                                        <span class="qu-icon qu-icon-time"></span>
                                    </div>
                                    <div class="qu-game__event--time">45:00</div>
                                    <div class="qu-game__event--info">
                                        <div class="qu-game__event--title">
                                            <h6>1st Half ended</h6>
                                        </div>
                                    </div>
                                </div>

                                <div class="qu-game__table">
                                    <div class="qu-game__table--row">
                                        <div class="qu-game__table--col1">3</div>
                                        <div class="qu-game__table--col2">Total Shots</div>
                                        <div class="qu-game__table--col3">2</div>
                                    </div>
                                    <div class="qu-game__table--row">
                                        <div class="qu-game__table--col1">2</div>
                                        <div class="qu-game__table--col2">Shots On Target</div>
                                        <div class="qu-game__table--col3">2</div>
                                    </div>
                                    <div class="qu-game__table--row">
                                        <div class="qu-game__table--col1">2</div>
                                        <div class="qu-game__table--col2">Shots Off Target</div>
                                        <div class="qu-game__table--col3">2</div>
                                    </div>
                                    <div class="qu-game__table--row">
                                        <div class="qu-game__table--col1">1</div>
                                        <div class="qu-game__table--col2">Saves</div>
                                        <div class="qu-game__table--col3">2</div>
                                    </div>
                                    <div class="qu-game__table--row">
                                        <div class="qu-game__table--col1">1</div>
                                        <div class="qu-game__table--col2">Corners</div>
                                        <div class="qu-game__table--col3">2</div>
                                    </div>
                                    <div class="qu-game__table--row">
                                        <div class="qu-game__table--col1">0</div>
                                        <div class="qu-game__table--col2">Offsides</div>
                                        <div class="qu-game__table--col3">1</div>
                                    </div>
                                    <div class="qu-game__table--row">
                                        <div class="qu-game__table--col1">2</div>
                                        <div class="qu-game__table--col2">Fouls</div>
                                        <div class="qu-game__table--col3">1</div>
                                    </div>
                                    <div class="qu-game__table--row">
                                        <div class="qu-game__table--col1">2</div>
                                        <div class="qu-game__table--col2">Yellow Cards</div>
                                        <div class="qu-game__table--col3">1</div>
                                    </div>
                                    <div class="qu-game__table--row">
                                        <div class="qu-game__table--col1">2</div>
                                        <div class="qu-game__table--col2">Red Cards</div>
                                        <div class="qu-game__table--col3">1</div>
                                    </div>
                                </div>


                                <!-- second -->
                                <div class="qu-game__event">
                                    <div class="qu-game__event--icon">
                                        <span class="qu-icon qu-icon-time"></span>
                                    </div>
                                    <div class="qu-game__event--time">45:00</div>
                                    <div class="qu-game__event--info">
                                        <div class="qu-game__event--title">
                                            <h6>2st Half started</h6>
                                        </div>
                                    </div>
                                </div>

                                <div class="qu-game__event">
                                    <div class="qu-game__event--icon">
                                        <span class="qu-icon qu-icon-substitution"></span>
                                    </div>
                                    <div class="qu-game__event--time">64:13</div>
                                    <div class="qu-game__event--info">
                                        <div class="qu-game__event--title">
                                            <div class="qu-game__event--team">
                                                <img src="static/img/content/logo-game1.png" alt="">
                                            </div>
                                            <h6>Substitution</h6>
                                        </div>

                                        <div class="qu-game__event--player">
                                            <div class="qu-game__event--ava">
                                                <img src="static/img/content/player-ava.png" alt="">
                                            </div>
                                            <p><span>10</span> S. Powell</p>
                                        </div>

                                        <div class="qu-game__event--player qu-substitution">
                                            <div class="qu-game__event--ava">
                                                <img src="static/img/content/player-ava.png" alt="">
                                            </div>
                                            <p><span>7</span> S. Powell</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="qu-game__event">
                                    <div class="qu-game__event--icon">
                                        <span class="qu-icon qu-yellow-card"></span>
                                    </div>
                                    <div class="qu-game__event--time">72:04</div>
                                    <div class="qu-game__event--info">
                                        <div class="qu-game__event--title">
                                            <div class="qu-game__event--team">
                                                <img src="static/img/content/logo-game1.png" alt="">
                                            </div>
                                            <h6>Yellow card</h6>
                                        </div>

                                        <div class="qu-game__event--player">
                                            <div class="qu-game__event--ava">
                                                <img src="static/img/content/player-ava.png" alt="">
                                            </div>
                                            <p><span>10</span> S. Powell</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="qu-game__event">
                                    <div class="qu-game__event--icon">
                                        <span class="qu-icon qu-red-card"></span>
                                    </div>
                                    <div class="qu-game__event--time">72:04</div>
                                    <div class="qu-game__event--info">
                                        <div class="qu-game__event--title">
                                            <div class="qu-game__event--team">
                                                <img src="static/img/content/logo-game1.png" alt="">
                                            </div>
                                            <h6>Red card</h6>
                                        </div>

                                        <div class="qu-game__event--player">
                                            <div class="qu-game__event--ava">
                                                <img src="static/img/content/player-ava.png" alt="">
                                            </div>
                                            <p><span>10</span> S. Powell</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="qu-game__event qu-game__event-last">
                                    <div class="qu-game__event--icon">
                                        <span class="qu-icon qu-icon-time"></span>
                                    </div>
                                    <div class="qu-game__event--time">90:00</div>
                                    <div class="qu-game__event--info">
                                        <div class="qu-game__event--title">
                                            <h6>2st Half ended</h6>
                                        </div>
                                    </div>
                                </div>

                                <div class="qu-game__table">
                                    <div class="qu-game__table--row">
                                        <div class="qu-game__table--col1">3</div>
                                        <div class="qu-game__table--col2">Total Shots</div>
                                        <div class="qu-game__table--col3">2</div>
                                    </div>
                                    <div class="qu-game__table--row">
                                        <div class="qu-game__table--col1">2</div>
                                        <div class="qu-game__table--col2">Shots On Target</div>
                                        <div class="qu-game__table--col3">2</div>
                                    </div>
                                    <div class="qu-game__table--row">
                                        <div class="qu-game__table--col1">2</div>
                                        <div class="qu-game__table--col2">Shots Off Target</div>
                                        <div class="qu-game__table--col3">2</div>
                                    </div>
                                    <div class="qu-game__table--row">
                                        <div class="qu-game__table--col1">1</div>
                                        <div class="qu-game__table--col2">Saves</div>
                                        <div class="qu-game__table--col3">2</div>
                                    </div>
                                    <div class="qu-game__table--row">
                                        <div class="qu-game__table--col1">1</div>
                                        <div class="qu-game__table--col2">Corners</div>
                                        <div class="qu-game__table--col3">2</div>
                                    </div>
                                    <div class="qu-game__table--row">
                                        <div class="qu-game__table--col1">0</div>
                                        <div class="qu-game__table--col2">Offsides</div>
                                        <div class="qu-game__table--col3">1</div>
                                    </div>
                                    <div class="qu-game__table--row">
                                        <div class="qu-game__table--col1">2</div>
                                        <div class="qu-game__table--col2">Fouls</div>
                                        <div class="qu-game__table--col3">1</div>
                                    </div>
                                    <div class="qu-game__table--row">
                                        <div class="qu-game__table--col1">2</div>
                                        <div class="qu-game__table--col2">Yellow Cards</div>
                                        <div class="qu-game__table--col3">1</div>
                                    </div>
                                    <div class="qu-game__table--row">
                                        <div class="qu-game__table--col1">2</div>
                                        <div class="qu-game__table--col2">Red Cards</div>
                                        <div class="qu-game__table--col3">1</div>
                                    </div>
                                </div>

                                <div class="qu-game__event qu-game__event-end">
                                    <div class="qu-game__event--icon">
                                        <span class="qu-icon qu-icon-time"></span>
                                    </div>
                                    <div class="qu-game__event--time">90:00</div>
                                    <div class="qu-game__event--info">
                                        <div class="qu-game__event--title">
                                            <h6>Match ended</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div id="stats" class="qu-tabs__item">
                        <div class="qu-stat">
                            <div class="qu-stat__wrap">
                                <div class="qu-stat__title">
                                    <h2>SUMMARY</h2>
                                </div>

                                <div class="qu-progress">
                                    <div class="qu-progress__title">
                                        <h4>8</h4>
                                        <h5>Total Shots</h5>
                                        <h4>17</h4>
                                    </div>

                                    <div class="qu-progress__bar">
                                        <div class="qu-progress__line" data-first="8"
                                             data-second="17"></div>
                                    </div>
                                </div>

                                <div class="qu-progress">
                                    <div class="qu-progress__title">
                                        <h4>2</h4>
                                        <h5>Corners</h5>
                                        <h4>7</h4>
                                    </div>

                                    <div class="qu-progress__bar">
                                        <div class="qu-progress__line"  data-first="2"
                                             data-second="7"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="qu-stat">
                            <div class="qu-stat__wrap">
                                <div class="qu-stat__title">
                                    <h2>ATTACKING</h2>
                                </div>

                                <div class="qu-stat__accuracy">
                                    <h5>Shot Accuracy</h5>
                                    <h6>Shots On / Total Shots</h6>

                                    <div class="qu-stat__accuracy--numbers">
                                        <div class="qu-stat__accuracy--number">
                                            38%
                                            <p>3 / 8</p>
                                        </div>
                                        <div class="qu-stat__accuracy--number">
                                            35%
                                            <p>6 / 17</p>
                                        </div>
                                    </div>

                                    <div class="qu-stat__accuracy--wrap">
                                        <div class="qu-stat__accuracy--line1">
                                            <h3>3</h3>
                                            <h4>Shots off target</h4>
                                            <h3>6</h3>
                                        </div>

                                        <div class="qu-stat__accuracy--line2">
                                            <h4>Shots off target</h4>
                                            <h3>3</h3>
                                            <h3>10</h3>
                                        </div>

                                        <div class="qu-stat__accuracy--player1">
                                        </div>
                                        <div class="qu-stat__accuracy--player2">
                                        </div>
                                    </div>
                                </div>

                                <div class="qu-progress">
                                    <div class="qu-progress__title">
                                        <h4>2</h4>
                                        <h5>Blocked Shots</h5>
                                        <h4>1</h4>
                                    </div>

                                    <div class="qu-progress__bar">
                                        <div class="qu-progress__line" style="width: 66%" data-first="2"
                                             data-second="1"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="qu-stat">
                            <div class="qu-stat__wrap">
                                <div class="qu-stat__title">
                                    <h2>DEFENCE</h2>
                                </div>

                                <div class="qu-progress">
                                    <div class="qu-progress__title">
                                        <h4>8</h4>
                                        <h5>Interceptions</h5>
                                        <h4>17</h4>
                                    </div>

                                    <div class="qu-progress__bar">
                                        <div class="qu-progress__line" style="width: 65%" data-first="8"
                                             data-second="17"></div>
                                    </div>
                                </div>

                                <div class="qu-progress">
                                    <div class="qu-progress__title">
                                        <h4>2</h4>
                                        <h5>Clearances</h5>
                                        <h4>7</h4>
                                    </div>

                                    <div class="qu-progress__bar">
                                        <div class="qu-progress__line" style="width: 45%" data-first="2"
                                             data-second="7"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="qu-stat">
                            <div class="qu-stat__wrap">
                                <div class="qu-stat__title">
                                    <h2>DISCIPLINE</h2>
                                </div>

                                <div class="qu-progress">
                                    <div class="qu-progress__title">
                                        <h4>14</h4>
                                        <h5>Fouls</h5>
                                        <h4>7</h4>
                                    </div>

                                    <div class="qu-progress__bar">
                                        <div class="qu-progress__line" style="width: 75%" data-first="14"
                                             data-second="7"></div>
                                    </div>
                                </div>

                                <div class="qu-progress">
                                    <div class="qu-progress__title">
                                        <h4>4</h4>
                                        <h5>Yellow Cards</h5>
                                        <h4>2</h4>
                                    </div>

                                    <div class="qu-progress__bar">
                                        <div class="qu-progress__line"  data-first="4"
                                             data-second="2"></div>
                                    </div>
                                </div>

                                <div class="qu-progress">
                                    <div class="qu-progress__title">
                                        <h4>1</h4>
                                        <h5>Red Cards</h5>
                                        <h4>0</h4>
                                    </div>

                                    <div class="qu-progress__bar">
                                        <div class="qu-progress__line"  data-first="1"
                                             data-second="0"></div>
                                    </div>
                                </div>

                                <div class="qu-progress">
                                    <div class="qu-progress__title">
                                        <h4>2</h4>
                                        <h5>Offsides</h5>
                                        <h4>7</h4>
                                    </div>

                                    <div class="qu-progress__bar">
                                        <div class="qu-progress__line"  data-first="2"
                                             data-second="7"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
