.qu-league {
    width: 100%;
    max-width: 472px;
    margin: 0 auto;
    padding: 24px 0;
    @media screen and (max-width: 576px) {
        padding: 16px;
    }

    h3 {
        @extend %h3;
        margin-bottom: 24px;
    }

    &__links {
        width: 100%;
        @media screen and (max-width: 576px) {
            width: calc(100% + 32px);
            margin-left: -16px;
        }
    }

    &__link {
        width: 100%;
        display: flex;
        align-items: center;
        padding: 8px 16px;
        position: relative;
        cursor: pointer;
        border-bottom: 1px solid $semi-light-color;
        text-decoration: none;
        transition: all 0.25s;

        &:hover {
            text-decoration: none;

            p {
                color: $semi-light-blue-color;
            }
        }

        p {
            @extend %text16;
            font-weight: 500;
            font-family: $font-Roboto;
            color: $dark-color;
            margin-right: auto;
            margin-bottom: 0;
            transition: all 0.25s;
        }

        &--icon {
            width: 48px;
            height: 48px;
            flex-shrink: 0;
            position: relative;
            margin-right: 16px;

            img {
                @include p-absolute;
                @include full-img;
            }
        }

        &--arrow {
            width: 16px;
            height: 16px;
            flex-shrink: 0;
            margin-left: 8px;
            @include bg-svg($link-arrow);
            margin-right: 0;
        }
    }

    .qu-row-btn {
        margin-top: 24px;
    }
}
