<div class="qu-page">
    {{> header/header-auth}}

    <div class="qu-page__body qu-stretch">
        <div class="qu-container">
            <div class="qu-tabs">
                <div class="qu-tabs__nav">
                    <a href="javascript:void(0)" class="qu-tabs__link" data-tab="#League">League</a>
                    <a href="javascript:void(0)" class="qu-tabs__link" data-tab="#Club">Club</a>
                    <a href="javascript:void(0)" class="qu-tabs__link active" data-tab="#School">School</a>
                    <a href="javascript:void(0)" class="qu-tabs__link" data-tab="#Team">Team</a>
                    <a href="javascript:void(0)" class="qu-tabs__link" data-tab="#Player">Player</a>
                </div>

                <div class="qu-tabs__content">
                    <div id="League" class="qu-tabs__item">
                        <div class="qu-league">
                            <form>
                                <div class="qu-form-search">
                                    <div class="qu-form-group">
                                        <input type="text" name="" placeholder="Search leagues">

                                        <button type="button" class="qu-form-group__button">
                                            <span class="icon icon-search"></span>
                                        </button>
                                    </div>

                                    <button type="submit" class="qu-button qu-button-border">Add</button>
                                </div>
                            </form>

                            <div class="qu-league__links">
                                {{#repeat 4}}

                                <a href="#" class="qu-league__link">
                                    <div class="qu-league__link--icon">
                                        <img src="static/img/content/league.svg" alt="">
                                    </div>
                                    <p>Evo-Stik League South</p>

                                    <div class="qu-league__link--arrow">
                                    </div>
                                </a>

                                {{/repeat}}
                            </div>
                        </div>
                    </div>

                    <div id="Club" class="qu-tabs__item">
                        <div class="qu-league">
                            <form>
                                <div class="qu-form-search">
                                    <div class="qu-form-group">
                                        <input type="text" name="" placeholder="Search leagues">

                                        <button type="button" class="qu-form-group__button">
                                            <span class="icon icon-search"></span>
                                        </button>
                                    </div>

                                    <button type="submit" class="qu-button qu-button-border">Add</button>
                                </div>
                            </form>

                            <div class="qu-league__links">
                                {{#repeat 7}}

                                <a href="#" class="qu-league__link">
                                    <div class="qu-league__link--icon">
                                        <img src="static/img/content/league.svg" alt="">
                                    </div>
                                    <p>Evo-Stik League South</p>

                                    <div class="qu-league__link--arrow">
                                    </div>
                                </a>

                                {{/repeat}}
                            </div>
                        </div>
                    </div>

                    <div id="School" class="qu-tabs__item active">
                        <div class="qu-league">
                            <form>
                                <div class="qu-form-search">
                                    <div class="qu-form-group">
                                        <input type="text" name="" placeholder="Search leagues">

                                        <button type="button" class="qu-form-group__button">
                                            <span class="icon icon-search"></span>
                                        </button>
                                    </div>

                                    <button type="submit" class="qu-button qu-button-border">Add</button>
                                </div>
                            </form>

                            <div class="qu-tabs__no-result show">
                                <p>There is no search results</p>
                                <img src="static/img/content/no-result.svg" alt="">
                            </div>
                        </div>
                    </div>

                    <div id="Team" class="qu-tabs__item">
                        <div class="qu-league">
                            <form>
                                <div class="qu-form-search">
                                    <div class="qu-form-group">
                                        <input type="text" name="" placeholder="Search leagues">

                                        <button type="button" class="qu-form-group__button">
                                            <span class="icon icon-search"></span>
                                        </button>
                                    </div>

                                    <button type="submit" class="qu-button qu-button-border">Add</button>
                                </div>
                            </form>

                            <div class="qu-league__links">
                                {{#repeat 7}}

                                <a href="#" class="qu-league__link">
                                    <div class="qu-league__link--icon">
                                        <img src="static/img/content/league.svg" alt="">
                                    </div>
                                    <p>Evo-Stik League South</p>

                                    <div class="qu-league__link--arrow">
                                    </div>
                                </a>

                                {{/repeat}}
                            </div>
                        </div>
                    </div>

                    <div id="Player" class="qu-tabs__item">
                        <div class="qu-league">
                            <form>
                                <div class="qu-form-search">
                                    <div class="qu-form-group">
                                        <input type="text" name="" placeholder="Search leagues">

                                        <button type="button" class="qu-form-group__button">
                                            <span class="icon icon-search"></span>
                                        </button>
                                    </div>

                                    <button type="submit" class="qu-button qu-button-border">Add</button>
                                </div>
                            </form>

                            <div class="qu-league__links">
                                {{#repeat 7}}

                                <a href="#" class="qu-league__link">
                                    <div class="qu-league__link--icon">
                                        <img src="static/img/content/league.svg" alt="">
                                    </div>
                                    <p>Evo-Stik League South</p>

                                    <div class="qu-league__link--arrow">
                                    </div>
                                </a>

                                {{/repeat}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{> modal/modal}}
