// Common styles of the project

html, body {
    height: 100%;
    font-family: $font-Montserrat;
}

.qu-height-auto {
    height: auto !important;
}

.qu {
    &-page {
        display: flex;
        flex-direction: column;
        align-self: stretch;
        height: 100%;

        &__body {
            flex-grow: 1;
            background-color: $light-color;
            padding: 24px 0 80px;
            @media screen and (max-width: 576px) {
                padding: 24px 0 40px;
            }
        }
    }

    &-container {
        width: 100%;
        max-width: 1248px;
        padding: 0 24px;
        margin: 0 auto;

        @media screen and (max-width: 576px) {
            padding: 0 16px;
        }
    }

    &-container-full {
        width: 100%;
        padding: 0 40px;
        margin: 0 auto;
        @media screen and (max-width: 992px) {
            padding: 0 24px;
        }
        @media screen and (max-width: 576px) {
            padding: 0 16px;
        }
    }

    &-row {
        width: 100%;
        display: flex;
        align-items: flex-start;
        margin-right: -8px;
        margin-left: -8px;
    }

    &-col {
        flex-basis: 0;
        flex-grow: 1;
        max-width: 100%;
        margin: 0 8px;
    }

    &-dropdown {
        position: relative;

        $f: &;

        &.active {
            #{$f}__menu {
                opacity: 1;
                visibility: visible;
            }
        }

        &__btn {
            display: flex;
            align-items: center;
            height: 40px;
            @extend %text14;
            font-weight: 600;
            color: $white-color;
            cursor: pointer;
            text-decoration: none;
            border: none;
            box-sizing: border-box;
            padding: 10px 36px 10px 16px;
            border-radius: 4px;
            background-color: $regular-blue-color;
            transition: all 0.25s;
            position: relative;

            &:after {
                @include before;
                width: 12px;
                height: 12px;
                @include bg-svg($dropdown-arrow);
                @include p-absolute;
                bottom: 0;
                left: auto;
                right: 16px;
                margin: auto;
            }

            &:hover {
                background-color: $semi-light-blue-color;
            }

            &:focus, &:active {
                outline: none;
                box-shadow: none;
            }

            &:active {
                background-color: $regular-blue-color;
            }

            .icon {
                margin-right: 8px;
            }
        }

        &__menu {
            position: absolute;
            z-index: 10;
            right: 0;
            top: 48px;
            background: $white-color;
            border: 1px solid $semi-light-color;
            box-sizing: border-box;
            box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.16);
            border-radius: 8px;
            min-width: 163px;
            padding: 12px 9px;
            opacity: 0;
            visibility: hidden;
            transition: all 0.25s;

            a {
                display: block;
                @extend %text14;
                font-family: $font-Roboto;
                color: $black-color;
                text-decoration: none;
                margin-bottom: 16px;
                transition: all 0.25s;

                &:hover {
                    text-decoration: none;
                    color: $regular-blue-color;
                }

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}


/*button*/
.qu-button {
    border-radius: 4px;
    transition: all 0.25s;
    display: inline-block;
    @extend %text14;
    font-weight: 600;
    border: none;

    &:hover {
        text-decoration: none;
        cursor: pointer;
    }

    &:focus, &:active {
        outline: none;
        box-shadow: none;
    }

    &:active {
    }
}

.qu-button-blue {
    padding: 10px 16px;
    height: 40px;
    background: $regular-blue-color;
    color: $white-color;
    @extend %text14;
    font-weight: 600;
    display: flex;
    align-items: center;

    &:hover {
        background-color: $semi-light-blue-color;
        color: $white-color;
    }

    &:active {
        background-color: $regular-blue-color;
    }

    span {
        display: block;
        margin-right: 8px;
    }
}

.qu-button-border {
    padding: 10px 16px;
    height: 40px;
    border: 1px solid $regular-blue-color;
    color: $regular-blue-color;
    background-color: $white-color;
    @extend %text14;
    font-weight: 600;

    &:hover {
        color: $semi-light-blue-color;
        border-color: $semi-light-blue-color;
    }

    &:active {
        color: $regular-blue-color;
        border-color: $regular-blue-color;
    }
}

.qu-button-danger {
    padding: 10px 16px;
    height: 40px;
    background: $danger-color;
    color: $white-color;
    @extend %text14;
    font-weight: 600;

    &:hover {
        opacity: 0.6;
        color: $white-color;
    }

    &:active {
        opacity: 1;
    }
}


/*form*/
.qu-switch {
    height: auto;
    min-height: 40px;

    input {
        display: none;
    }

    label {
        height: 100%;
        display: flex;
        align-items: center;
        margin-bottom: 0;
        position: relative;
        @extend %text14;
        color: $semi-dark-color;
        padding-right: 72px;
        box-sizing: border-box;
        cursor: pointer;
        font-family: $font-Roboto;

        &:before, &:after {
            @include before;
            @include p-absolute;
        }

        &:before {
            width: 56px;
            height: 32px;
            border-radius: 20px;
            top: 0;
            bottom: 0;
            right: 0;
            left: auto;
            margin: auto;
            background-color: $semi-dark-color;
        }

        &:after {
            width: 24px;
            height: 24px;
            border-radius: 50%;
            background-color: $white-color;
            transition: all 0.25s;
            top: 0;
            bottom: 0;
            right: 28px;
            left: auto;
            margin: auto;
        }
    }

    input:checked + label:before {
        background: $regular-blue-color;
    }

    input:checked + label:after {
        right: 4px;
    }
}

.qu-form-group {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 8px;
    position: relative;

    input {
        border: 1px solid $regular-color;
        border-radius: 4px 0 0 4px;
        box-sizing: border-box;
        height: 40px;
        flex-grow: 0;
        @extend %text16;
        font-family: $font-Roboto;
        color: $dark-color;
        padding: 9px 16px;
        width: 100%;

        &:focus, &:active {
            outline: none;
            box-shadow: none;
        }

        &:hover {
        }

        &:focus {
        }

        &::placeholder {
            color: $regular-color;
        }
    }

    &__button {
        width: 40px;
        height: 40px;
        flex-shrink: 0;
        position: relative;
        border-radius: 0 4px 4px 0;
        border: 1px solid $regular-color;
        border-left: none;
        background-color: $white-color;
        cursor: pointer;

        &:focus, &:active {
            outline: none;
            box-shadow: none;
        }

        .icon {
            @include p-absolute;
            @include center;
        }
    }
}

.qu-form-input {
    position: relative;
    margin-bottom: 20px;

    $f: &;

    &.qu-error-show {
        #{$f}__error {
            opacity: 1;
            visibility: visible;
        }
    }

    label {
        display: block;
        @extend %text14;
        font-family: $font-Roboto;
        color: $semi-dark-color;
        margin-bottom: 4px;

        span {
            color: $danger-color;
        }
    }

    input {
        width: 100%;
        height: 40px;
        padding: 8.5px 16px;
        box-sizing: border-box;
        background: $white-color;
        border: 1px solid $regular-color;
        border-radius: 4px;
        @extend %text16;
        font-family: $font-Roboto;
        color: $dark-color;

        &:focus, &:active {
            outline: none;
            box-shadow: none;
        }

        &::placeholder {
            color: $regular-color;
        }
    }

    &__error {
        position: absolute;
        left: 0;
        bottom: -16px;
        @extend %text12;
        font-family: $font-Roboto;
        color: $danger-color;
        opacity: 0;
        visibility: hidden;
    }
}

.qu-form-select {
    .select2-container {
        background: $white-color;
        box-sizing: border-box;
        border-radius: 4px !important;
        height: 40px;
        border: none;

        &:focus, &:active {
            outline: none;
            box-shadow: none;
            border-radius: 3px;
        }

        &.select2-container--open, &.select2-container--focus {
            outline: none;
            box-shadow: none;
            border-radius: 3px;
        }

        &.select2-container--open {
            .select2-selection__arrow {
                transform: rotate(180deg);
            }
        }

        .select2-selection--single {
            background: $white-color;
            border: 1px solid $regular-color;
            box-sizing: border-box;
            border-radius: 4px !important;
            width: 100%;
            height: 40px;

            &[aria-expanded="true"] {
                border-radius: 2px 2px 0 0 !important;

                .select2-selection__arrow b {
                    transform: rotate(180deg);
                }
            }

            &:focus, &:active {
                outline: none;
                box-shadow: none;
                border-radius: 2px;
            }
        }

        .select2-selection__rendered {
            height: 38px;
            line-height: 38px !important;
            @extend %text16;
            font-family: $font-Roboto;
            color: $dark-color !important;
            padding-left: 16px !important;
        }

        .select2-selection__arrow {
            height: 12px !important;
            width: 12px !important;
            @include bg-svg($icon-select-arrow);
            top: 0;
            right: 14px !important;
            bottom: 0;
            margin: auto;

            b {
                display: none;
            }
        }
    }
}

.qu-form-date {
    display: flex;
    align-items: center;

    input {
        border-radius: 4px 0 0 4px;
    }

    &__icon {
        width: 40px;
        height: 40px;
        flex-shrink: 0;
        border: 1px solid $regular-color;
        box-sizing: border-box;
        border-radius: 0 4px 4px 0;
        position: relative;
        margin-bottom: 0 !important;
        border-left: none;
        cursor: pointer;

        span {
            @include p-absolute;
            @include center;
            display: block;
            @include bg-svg($icon-calendar);
        }
    }
}

.qu-form-photo {
    text-align: center;
    margin-bottom: 24px;
    overflow: hidden;

    &__value {
        width: 80px;
        height: 80px;
        background: $white-color;
        box-sizing: border-box;
        border-radius: 8px;
        margin: 0 auto 8px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("../img/content/photo.png");
        position: relative;
    }

    &__img {
        box-sizing: border-box;
        border: 1px solid $regular-color;
        display: none;
        @include full-img;
        @include p-absolute;
        border-radius: 8px;
        padding: 4px;
    }

    &__name {
        margin-bottom: 8px;
        @extend %text14;
        font-family: $font-Roboto;
        color: $semi-dark-color;
    }

    .js-file {
        display: none;
    }

    .jfilestyle, .focus-jfilestyle {
        border: none;
        margin-bottom: 0;

        &:focus, &:active {
            outline: none;
            box-shadow: none;
        }
    }

    .jfilestyle label {
        border-radius: 4px;
        padding: 10px 16px;
        height: 40px;
        border: 1px solid $regular-blue-color;
        color: $regular-blue-color;
        background-color: $white-color;
        @extend %text14;
        font-weight: 600;
        margin-bottom: 0;

        &:hover {
            color: $semi-light-blue-color;
            border-color: $semi-light-blue-color;
        }

        &:active {
            color: $regular-blue-color;
            border-color: $regular-blue-color;
        }

        &:focus, &:active {
            outline: none;
            box-shadow: none;
        }

        .count-jfilestyle {
            display: none;
        }
    }
}

.qu-form-error {
    opacity: 0;

    &.show {
        opacity: 1;
    }

    p {
        @extend %text12;
        font-family: $font-Roboto;
        color: $danger-color;
    }
}

.qu-row-btn {
    display: flex;
    justify-content: flex-end;

    .qu-button {
        margin-left: 8px;

        &:first-child {
            margin-left: 0;
        }
    }

    &.mt-40 {
        margin-top: 40px;
    }
}

.qu-row-between {
    justify-content: space-between;
}

.qu-form-search {
    display: flex;
    align-items: center;
    margin-bottom: 24px;

    .qu-form-group {
        margin-bottom: 0;
        margin-right: 8px;
    }
}

.qu-tabs {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;

    $f: &;

    &__nav {
        background-color: $white-color;
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.16);
        border-radius: 8px;
        display: flex;
        align-items: flex-end;
        padding: 0 14px;
        margin-bottom: 16px;
        @media screen and (max-width: 576px) {
            padding: 0 8px;
        }
    }

    &__link {
        display: block;
        flex-basis: 0;
        flex-grow: 1;
        max-width: 100%;
        position: relative;
        padding: 12px 0;
        text-align: center;
        @extend %text14;
        font-weight: 600;
        color: $semi-dark-color;
        text-decoration: none;
        transition: all 0.25s;

        &:hover {
            text-decoration: none;
            color: $regular-blue-color;
        }

        &:after {
            @include before;
            @include p-absolute;
            bottom: 0;
            top: auto;
            width: 100%;
            height: 2px;
            background: $regular-blue-color;
            border-radius: 20px;
            opacity: 0;
        }

        &.active {
            color: $regular-blue-color;

            &:after {
                opacity: 1;
            }
        }
    }

    &__content {
        width: 100%;

        &.qu-no-result {
            #{$f}__item {
                display: none;
            }

            #{$f}__no-result {
                display: block;
            }
        }
    }

    &__content-transparent {
        #{$f}__item {
            box-shadow: none;
            background-color: transparent;
        }
    }

    &__item {
        display: none;
        background: $white-color;
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.16);
        border-radius: 8px;

        &.active {
            display: block;
        }
    }

    &__no-result {
        display: none;
        text-align: center;
        padding-top: 64px;
        @media screen and (max-width: 768px) {
            padding-top: 48px;
        }

        &.show {
            display: block;
        }

        p {
            @extend %text16;
            font-family: $font-Roboto;
            color: $semi-dark-color;
            margin-bottom: 16px;
        }

        img {
            width: 120px;
            margin: 0 auto;
        }
    }
}

.qu-stretch {
    .qu-container {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        align-self: stretch;
        height: 100%;


        .qu-tabs {
            display: flex;
            flex-direction: column;
            align-items: stretch;
            height: 100%;

            &__content {
                align-self: stretch;
                height: 100%;
            }

            &__item {
                height: 100%;
            }
        }
    }
}
