.icon {
    display: block;
    flex-shrink: 0;
}

.icon-user {
    @include bg-svg($icon-user);
}

.icon-search {
    @include bg-svg($icon-search);
}

.icon-calendar {
    @include bg-svg($icon-calendar);
}

.qu-ball-red {
    @include bg-svg($ball-red);
}

.qu-ball-black {
    @include bg-svg($ball-black);
}

.qu-ball-blue {
    @include bg-svg($ball-blue);
}

.qu-icon-time {
    @include bg-svg($icon-time);
}

.qu-icon-substitution {
    @include bg-svg($icon-substitution);
}

.qu-yellow-card {
    @include bg-svg($yellow-card);
}

.qu-red-card {
    @include bg-svg($red-card);
}

.icon-back {
    @include bg-svg($icon-back);
}
