$white-color: #ffffff;
$black-color: #000000;
$dark-blue-color: #163D64;
$regular-blue-color: #265C96;
$semi-light-blue-color: #3F86D4;
$light-blue-color: #9FBFD6;

$danger-color: #C90000;
$warning-color: #FECC40;
$success-color: #4B9A4C;

$dark-color: #1A1A1A;
$semi-dark-color: #888888;
$regular-color: #BCBCBC;
$semi-light-color: #DDDDDD;
$light-color: #F7F7F7;

$font-Roboto: 'Roboto', sans-serif;
$font-Montserrat: 'Montserrat', sans-serif;

%text12 {
    font-size: 12px;
    line-height: 14px;
}

%text14 {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.01em;
}


%text16 {
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
}

%h1 {}
%h2 {}
%h3 {
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: $black-color;
}

%h5 {
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
}

%h6 {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: $black-color;
}
