<div class="qu-page">
    {{> header/header-auth}}

    <div class="qu-page__body qu-stretch">
        <div class="qu-container">
            <div class="qu-content">
                <h3>Add Fixtures</h3>

                <form>
                    <div class="qu-form-input qu-form-select">
                        <label>User</label>
                        <select class="select2" style="width: 100%" data-placeholder="Select User">
                            <option></option>
                            <option>User Name</option>
                            <option>User</option>
                        </select>
                    </div>

                    <div class="qu-form-input qu-form-select">
                        <label>Home Team</label>
                        <select class="select2" style="width: 100%" data-placeholder="Select Team">
                            <option></option>
                            <option>Select Team</option>
                            <option>Team</option>
                        </select>
                    </div>

                    <div class="qu-form-input qu-form-select">
                        <label>Away Team</label>
                        <select class="select2" style="width: 100%" data-placeholder="Select Team">
                            <option></option>
                            <option>Away Team</option>
                            <option>Team</option>
                        </select>
                    </div>

                    <div class="qu-form-input">
                        <label>Date</label>
                        <div class="qu-form-date">
                            <input type="text" class="datepicker-here" data-range="true" name="" placeholder="Choose date or period"
                                   id="date-form">
                            <label class="qu-form-date__icon" for="date-form">
                                <span></span>
                            </label>
                        </div>
                    </div>

                    <div class="qu-form-input">
                        <label>Duration</label>
                        <input type="text" name="" placeholder="Enter Duration" value="90">
                        <div class="qu-form-input__error">Playlist Name can’t be empty.</div>
                    </div>

                    <div class="qu-form-input">
                        <label>Venue</label>
                        <input type="text" name="" placeholder="Enter venue">
                        <div class="qu-form-input__error">Playlist Name can’t be empty.</div>
                    </div>

                    <div class="qu-row-btn">
                        <button type="reset" class="qu-button qu-button-border">Cancel</button>
                        <button type="submit" class="qu-button qu-button-blue">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{{> modal/modal}}
