*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

[tabindex="-1"]:focus:not(:focus-visible) {
  outline: 0 !important;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

abbr[title],
abbr[data-original-title] {
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  cursor: help;
  border-bottom: 0;
  -webkit-text-decoration-skip-ink: none;
  text-decoration-skip-ink: none;
}

address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

dt {
  font-weight: 700;
}

dd {
  margin-bottom: .5rem;
  margin-left: 0;
}

blockquote {
  margin: 0 0 1rem;
}

b,
strong {
  font-weight: bolder;
}

small {
  font-size: 80%;
}

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  cursor: pointer;
  color: #0056b3;
  text-decoration: underline;
}

a:not([href]) {
  color: inherit;
  text-decoration: none;
}

a:not([href]):hover {
  color: inherit;
  text-decoration: none;
}

pre,
code,
kbd,
samp {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 1em;
}

pre {
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
  -ms-overflow-style: scrollbar;
}

figure {
  margin: 0 0 1rem;
}

img {
  vertical-align: middle;
  border-style: none;
}

svg {
  overflow: hidden;
  vertical-align: middle;
}

table {
  border-collapse: collapse;
}

caption {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: #6c757d;
  text-align: left;
  caption-side: bottom;
}

th {
  text-align: inherit;
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

button {
  border-radius: 0;
}

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

[role="button"] {
  cursor: pointer;
}

select {
  word-wrap: normal;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button:not(:disabled),
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled) {
  cursor: pointer;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

input[type="radio"],
input[type="checkbox"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

textarea {
  overflow: auto;
  resize: vertical;
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

legend {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin-bottom: .5rem;
  font-size: 1.5rem;
  line-height: inherit;
  color: inherit;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  outline-offset: -2px;
  -webkit-appearance: none;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}

output {
  display: inline-block;
}

summary {
  display: list-item;
  cursor: pointer;
}

template {
  display: none;
}

[hidden] {
  display: none !important;
}

/* Your custom fonts here */
/* Example

@font-face {
    font-family: 'CustomFont';
    src: url('../fonts/Custom-Font.eot');
    src: url('../fonts/Custom-Font.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Custom-Font.woff') format('woff'),
         url('../fonts/Custom-Font.svg#custom_font') format('svg');
    font-weight: 400;       // For normal width. It could has another value   
    font-style: normal;     // Also could has another value
    }


// Var for using custom font
$CustomFont: 'CustomFont', Helvetica, Arial, sans-serif;
*/
.qu-form-input__error, .qu-form-error p, .qu-game__goal time, .qu-modal__body .qu-form-error p {
  font-size: 12px;
  line-height: 14px;
}

.qu-dropdown__btn, .qu-dropdown__menu a, .qu-button, .qu-button-blue, .qu-button-border, .qu-button-danger, .qu-switch label, .qu-form-input label, .qu-form-photo__name, .qu-form-photo .jfilestyle label, .qu-tabs__link, .qu-game__goal p, .qu-game__event--time, .qu-game__event--player.qu-substitution p, .qu-game__table--col2, .qu-stat__accuracy h6, .qu-stat__accuracy--number p, .qu-match__item time, .qu-match__player p, .qu-match__time p, .qu-playlists p, .qu-panel-filter__calendar-period a {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.01em;
}

.qu-form-group input, .qu-form-input input, .qu-form-select .select2-container .select2-selection__rendered, .qu-tabs__no-result p, .qu-game__event--title h6, .qu-game__event--player p, .qu-game__table--col1, .qu-game__table--col3, .qu-stat__title h2, .qu-progress__title h5, .qu-league__link p, .qu-match__player h5, .qu-match__time h6, .qu-modal__body p {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
}

.qu-stat__accuracy--line1 h3, .qu-stat__accuracy--line2 h3, .qu-progress__title h4, .qu-league h3, .qu-match__count, .qu-modal__header h3, .qu-content h3 {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}

.qu-game__header h5 {
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
}

.qu-stat__accuracy h5, .qu-stat__accuracy--line1 h4, .qu-stat__accuracy--line2 h4, .qu-modal__header h6, .qu-playlists h4 {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}

.icon {
  display: block;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.icon-user {
  background-image: url("../img/svg-sprite/sprite.svg");
  background-position: -4px -224px;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
}

.icon-search {
  background-image: url("../img/svg-sprite/sprite.svg");
  background-position: -4px -204px;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
}

.icon-calendar {
  background-image: url("../img/svg-sprite/sprite.svg");
  background-position: -4px -184px;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
}

.qu-ball-red {
  background-image: url("../img/svg-sprite/sprite.svg");
  background-position: -4px -164px;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
}

.qu-ball-black {
  background-image: url("../img/svg-sprite/sprite.svg");
  background-position: -4px -144px;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
}

.qu-ball-blue {
  background-image: url("../img/svg-sprite/sprite.svg");
  background-position: -4px -4px;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
}

.qu-icon-time {
  background-image: url("../img/svg-sprite/sprite.svg");
  background-position: -4px -116px;
  width: 21px;
  height: 24px;
  background-repeat: no-repeat;
}

.qu-icon-substitution {
  background-image: url("../img/svg-sprite/sprite.svg");
  background-position: -4px -32px;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
}

.qu-yellow-card {
  background-image: url("../img/svg-sprite/sprite.svg");
  background-position: -4px -88px;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
}

.qu-red-card {
  background-image: url("../img/svg-sprite/sprite.svg");
  background-position: -4px -60px;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
}

.icon-back {
  background-image: url("../img/svg-sprite/sprite.svg");
  background-position: -4px -296px;
  width: 8px;
  height: 12px;
  background-repeat: no-repeat;
}

html, body {
  height: 100%;
  font-family: "Montserrat", sans-serif;
}

.qu-height-auto {
  height: auto !important;
}

.qu-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  height: 100%;
}

.qu-page__body {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-color: #F7F7F7;
  padding: 24px 0 80px;
}

@media screen and (max-width: 576px) {
  .qu-page__body {
    padding: 24px 0 40px;
  }
}

.qu-container {
  width: 100%;
  max-width: 1248px;
  padding: 0 24px;
  margin: 0 auto;
}

@media screen and (max-width: 576px) {
  .qu-container {
    padding: 0 16px;
  }
}

.qu-container-full {
  width: 100%;
  padding: 0 40px;
  margin: 0 auto;
}

@media screen and (max-width: 992px) {
  .qu-container-full {
    padding: 0 24px;
  }
}

@media screen and (max-width: 576px) {
  .qu-container-full {
    padding: 0 16px;
  }
}

.qu-row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-right: -8px;
  margin-left: -8px;
}

.qu-col {
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  max-width: 100%;
  margin: 0 8px;
}

.qu-dropdown {
  position: relative;
}

.qu-dropdown.active .qu-dropdown__menu {
  opacity: 1;
  visibility: visible;
}

.qu-dropdown__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  font-weight: 600;
  color: #ffffff;
  cursor: pointer;
  text-decoration: none;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px 36px 10px 16px;
  border-radius: 4px;
  background-color: #265C96;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  position: relative;
}

.qu-dropdown__btn:after {
  content: '';
  display: block;
  width: 12px;
  height: 12px;
  background-image: url("../img/svg-sprite/sprite.svg");
  background-position: -4px -264px;
  width: 12px;
  height: 12px;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  left: auto;
  right: 16px;
  margin: auto;
}

.qu-dropdown__btn:hover {
  background-color: #3F86D4;
}

.qu-dropdown__btn:focus, .qu-dropdown__btn:active {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.qu-dropdown__btn:active {
  background-color: #265C96;
}

.qu-dropdown__btn .icon {
  margin-right: 8px;
}

.qu-dropdown__menu {
  position: absolute;
  z-index: 10;
  right: 0;
  top: 48px;
  background: #ffffff;
  border: 1px solid #DDDDDD;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.16);
  border-radius: 8px;
  min-width: 163px;
  padding: 12px 9px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

.qu-dropdown__menu a {
  display: block;
  font-family: "Roboto", sans-serif;
  color: #000000;
  text-decoration: none;
  margin-bottom: 16px;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

.qu-dropdown__menu a:hover {
  text-decoration: none;
  color: #265C96;
}

.qu-dropdown__menu a:last-child {
  margin-bottom: 0;
}

/*button*/
.qu-button {
  border-radius: 4px;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  display: inline-block;
  font-weight: 600;
  border: none;
}

.qu-button:hover {
  text-decoration: none;
  cursor: pointer;
}

.qu-button:focus, .qu-button:active {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.qu-button-blue {
  padding: 10px 16px;
  height: 40px;
  background: #265C96;
  color: #ffffff;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.qu-button-blue:hover {
  background-color: #3F86D4;
  color: #ffffff;
}

.qu-button-blue:active {
  background-color: #265C96;
}

.qu-button-blue span {
  display: block;
  margin-right: 8px;
}

.qu-button-border {
  padding: 10px 16px;
  height: 40px;
  border: 1px solid #265C96;
  color: #265C96;
  background-color: #ffffff;
  font-weight: 600;
}

.qu-button-border:hover {
  color: #3F86D4;
  border-color: #3F86D4;
}

.qu-button-border:active {
  color: #265C96;
  border-color: #265C96;
}

.qu-button-danger {
  padding: 10px 16px;
  height: 40px;
  background: #C90000;
  color: #ffffff;
  font-weight: 600;
}

.qu-button-danger:hover {
  opacity: 0.6;
  color: #ffffff;
}

.qu-button-danger:active {
  opacity: 1;
}

/*form*/
.qu-switch {
  height: auto;
  min-height: 40px;
}

.qu-switch input {
  display: none;
}

.qu-switch label {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0;
  position: relative;
  color: #888888;
  padding-right: 72px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
}

.qu-switch label:before, .qu-switch label:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.qu-switch label:before {
  width: 56px;
  height: 32px;
  border-radius: 20px;
  top: 0;
  bottom: 0;
  right: 0;
  left: auto;
  margin: auto;
  background-color: #888888;
}

.qu-switch label:after {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #ffffff;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  top: 0;
  bottom: 0;
  right: 28px;
  left: auto;
  margin: auto;
}

.qu-switch input:checked + label:before {
  background: #265C96;
}

.qu-switch input:checked + label:after {
  right: 4px;
}

.qu-form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-bottom: 8px;
  position: relative;
}

.qu-form-group input {
  border: 1px solid #BCBCBC;
  border-radius: 4px 0 0 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 40px;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  font-family: "Roboto", sans-serif;
  color: #1A1A1A;
  padding: 9px 16px;
  width: 100%;
}

.qu-form-group input:focus, .qu-form-group input:active {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.qu-form-group input::-webkit-input-placeholder {
  color: #BCBCBC;
}

.qu-form-group input::-moz-placeholder {
  color: #BCBCBC;
}

.qu-form-group input:-ms-input-placeholder {
  color: #BCBCBC;
}

.qu-form-group input::-ms-input-placeholder {
  color: #BCBCBC;
}

.qu-form-group input::placeholder {
  color: #BCBCBC;
}

.qu-form-group__button {
  width: 40px;
  height: 40px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  position: relative;
  border-radius: 0 4px 4px 0;
  border: 1px solid #BCBCBC;
  border-left: none;
  background-color: #ffffff;
  cursor: pointer;
}

.qu-form-group__button:focus, .qu-form-group__button:active {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.qu-form-group__button .icon {
  position: absolute;
  top: 0;
  left: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.qu-form-input {
  position: relative;
  margin-bottom: 20px;
}

.qu-form-input.qu-error-show .qu-form-input__error {
  opacity: 1;
  visibility: visible;
}

.qu-form-input label {
  display: block;
  font-family: "Roboto", sans-serif;
  color: #888888;
  margin-bottom: 4px;
}

.qu-form-input label span {
  color: #C90000;
}

.qu-form-input input {
  width: 100%;
  height: 40px;
  padding: 8.5px 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #ffffff;
  border: 1px solid #BCBCBC;
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  color: #1A1A1A;
}

.qu-form-input input:focus, .qu-form-input input:active {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.qu-form-input input::-webkit-input-placeholder {
  color: #BCBCBC;
}

.qu-form-input input::-moz-placeholder {
  color: #BCBCBC;
}

.qu-form-input input:-ms-input-placeholder {
  color: #BCBCBC;
}

.qu-form-input input::-ms-input-placeholder {
  color: #BCBCBC;
}

.qu-form-input input::placeholder {
  color: #BCBCBC;
}

.qu-form-input__error {
  position: absolute;
  left: 0;
  bottom: -16px;
  font-family: "Roboto", sans-serif;
  color: #C90000;
  opacity: 0;
  visibility: hidden;
}

.qu-form-select .select2-container {
  background: #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px !important;
  height: 40px;
  border: none;
}

.qu-form-select .select2-container:focus, .qu-form-select .select2-container:active {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 3px;
}

.qu-form-select .select2-container.select2-container--open, .qu-form-select .select2-container.select2-container--focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 3px;
}

.qu-form-select .select2-container.select2-container--open .select2-selection__arrow {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.qu-form-select .select2-container .select2-selection--single {
  background: #ffffff;
  border: 1px solid #BCBCBC;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px !important;
  width: 100%;
  height: 40px;
}

.qu-form-select .select2-container .select2-selection--single[aria-expanded="true"] {
  border-radius: 2px 2px 0 0 !important;
}

.qu-form-select .select2-container .select2-selection--single[aria-expanded="true"] .select2-selection__arrow b {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.qu-form-select .select2-container .select2-selection--single:focus, .qu-form-select .select2-container .select2-selection--single:active {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 2px;
}

.qu-form-select .select2-container .select2-selection__rendered {
  height: 38px;
  line-height: 38px !important;
  font-family: "Roboto", sans-serif;
  color: #1A1A1A !important;
  padding-left: 16px !important;
}

.qu-form-select .select2-container .select2-selection__arrow {
  height: 12px !important;
  width: 12px !important;
  background-image: url("../img/svg-sprite/sprite.svg");
  background-position: -4px -280px;
  width: 12px;
  height: 12px;
  background-repeat: no-repeat;
  top: 0;
  right: 14px !important;
  bottom: 0;
  margin: auto;
}

.qu-form-select .select2-container .select2-selection__arrow b {
  display: none;
}

.qu-form-date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.qu-form-date input {
  border-radius: 4px 0 0 4px;
}

.qu-form-date__icon {
  width: 40px;
  height: 40px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border: 1px solid #BCBCBC;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 0 4px 4px 0;
  position: relative;
  margin-bottom: 0 !important;
  border-left: none;
  cursor: pointer;
}

.qu-form-date__icon span {
  position: absolute;
  top: 0;
  left: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  display: block;
  background-image: url("../img/svg-sprite/sprite.svg");
  background-position: -4px -184px;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
}

.qu-form-photo {
  text-align: center;
  margin-bottom: 24px;
  overflow: hidden;
}

.qu-form-photo__value {
  width: 80px;
  height: 80px;
  background: #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 8px;
  margin: 0 auto 8px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("../img/content/photo.png");
  position: relative;
}

.qu-form-photo__img {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #BCBCBC;
  display: none;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 8px;
  padding: 4px;
}

.qu-form-photo__name {
  margin-bottom: 8px;
  font-family: "Roboto", sans-serif;
  color: #888888;
}

.qu-form-photo .js-file {
  display: none;
}

.qu-form-photo .jfilestyle, .qu-form-photo .focus-jfilestyle {
  border: none;
  margin-bottom: 0;
}

.qu-form-photo .jfilestyle:focus, .qu-form-photo .jfilestyle:active, .qu-form-photo .focus-jfilestyle:focus, .qu-form-photo .focus-jfilestyle:active {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.qu-form-photo .jfilestyle label {
  border-radius: 4px;
  padding: 10px 16px;
  height: 40px;
  border: 1px solid #265C96;
  color: #265C96;
  background-color: #ffffff;
  font-weight: 600;
  margin-bottom: 0;
}

.qu-form-photo .jfilestyle label:hover {
  color: #3F86D4;
  border-color: #3F86D4;
}

.qu-form-photo .jfilestyle label:active {
  color: #265C96;
  border-color: #265C96;
}

.qu-form-photo .jfilestyle label:focus, .qu-form-photo .jfilestyle label:active {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.qu-form-photo .jfilestyle label .count-jfilestyle {
  display: none;
}

.qu-form-error {
  opacity: 0;
}

.qu-form-error.show {
  opacity: 1;
}

.qu-form-error p {
  font-family: "Roboto", sans-serif;
  color: #C90000;
}

.qu-row-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.qu-row-btn .qu-button {
  margin-left: 8px;
}

.qu-row-btn .qu-button:first-child {
  margin-left: 0;
}

.qu-row-btn.mt-40 {
  margin-top: 40px;
}

.qu-row-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.qu-form-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 24px;
}

.qu-form-search .qu-form-group {
  margin-bottom: 0;
  margin-right: 8px;
}

.qu-tabs {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.qu-tabs__nav {
  background-color: #ffffff;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.16);
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 0 14px;
  margin-bottom: 16px;
}

@media screen and (max-width: 576px) {
  .qu-tabs__nav {
    padding: 0 8px;
  }
}

.qu-tabs__link {
  display: block;
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  max-width: 100%;
  position: relative;
  padding: 12px 0;
  text-align: center;
  font-weight: 600;
  color: #888888;
  text-decoration: none;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

.qu-tabs__link:hover {
  text-decoration: none;
  color: #265C96;
}

.qu-tabs__link:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  top: auto;
  width: 100%;
  height: 2px;
  background: #265C96;
  border-radius: 20px;
  opacity: 0;
}

.qu-tabs__link.active {
  color: #265C96;
}

.qu-tabs__link.active:after {
  opacity: 1;
}

.qu-tabs__content {
  width: 100%;
}

.qu-tabs__content.qu-no-result .qu-tabs__item {
  display: none;
}

.qu-tabs__content.qu-no-result .qu-tabs__no-result {
  display: block;
}

.qu-tabs__content-transparent .qu-tabs__item {
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
}

.qu-tabs__item {
  display: none;
  background: #ffffff;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.16);
  border-radius: 8px;
}

.qu-tabs__item.active {
  display: block;
}

.qu-tabs__no-result {
  display: none;
  text-align: center;
  padding-top: 64px;
}

@media screen and (max-width: 768px) {
  .qu-tabs__no-result {
    padding-top: 48px;
  }
}

.qu-tabs__no-result.show {
  display: block;
}

.qu-tabs__no-result p {
  font-family: "Roboto", sans-serif;
  color: #888888;
  margin-bottom: 16px;
}

.qu-tabs__no-result img {
  width: 120px;
  margin: 0 auto;
}

.qu-stretch .qu-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  height: 100%;
}

.qu-stretch .qu-container .qu-tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  height: 100%;
}

.qu-stretch .qu-container .qu-tabs__content {
  -ms-flex-item-align: stretch;
      align-self: stretch;
  height: 100%;
}

.qu-stretch .qu-container .qu-tabs__item {
  height: 100%;
}

/*
 * jquery-filestyle
 * doc: http://markusslima.github.io/jquery-filestyle/
 * github: https://github.com/markusslima/jquery-filestyle
 *
 * Copyright (c) 2017 Markus Vinicius da Silva Lima
 * Version 2.1.0
 * Licensed under the MIT license.
 */
.jfilestyle {
  display: inline-block;
  margin: 0px 0px 10px 0px;
  padding: 0px;
  position: relative;
  border-collapse: separate;
}

div.jfilestyle label, div.jfilestyle input {
  font-family: sans-serif;
}

div.jfilestyle input {
  border: 1px solid #c0c0c0;
  background: #d9d9d9;
  margin: 0px -5px 0px 0px;
  vertical-align: middle;
  padding: 10px 15px;
  font-size: 14px;
  border-radius: 0px;
  color: #8d8d8d;
  cursor: default;
  line-height: normal;
}

div.jfilestyle label {
  display: inline-block;
  border: 1px solid #c0c0c0;
  background: #ffffff;
  padding: 10px 15px;
  color: #0662ba;
  vertical-align: middle;
  line-height: normal;
  text-align: center;
  margin: 0px;
  font-size: 14px;
  width: auto;
  border-radius: 0px;
  font-weight: normal;
}

div.jfilestyle.jfilestyle-corner input:last-child,
div.jfilestyle.jfilestyle-corner label:last-child {
  margin-left: -1px;
}

div.jfilestyle label[disabled] {
  pointer-events: none;
  opacity: 0.6;
  filter: alpha(opacity=65);
  cursor: not-allowed;
}

div.jfilestyle label:hover {
  cursor: pointer;
  opacity: 0.9;
}

div.jfilestyle .count-jfilestyle {
  background: #303030;
  color: #fff;
  border-radius: 50%;
  padding: 1px 5px;
  font-size: 12px;
  vertical-align: middle;
}

/** 
 * THEMES
 */
div.jfilestyle.jfilestyle-theme-blue input {
  /**/
}

div.jfilestyle.jfilestyle-theme-blue label {
  border-color: #438eff;
  background: #438eff;
  color: #fff;
}

div.jfilestyle.jfilestyle-theme-green input {
  /**/
}

div.jfilestyle.jfilestyle-theme-green label {
  border-color: #18a063;
  background: #18a063;
  color: #fff;
}

div.jfilestyle.jfilestyle-theme-yellow input {
  /**/
}

div.jfilestyle.jfilestyle-theme-yellow label {
  border-color: #e8c821;
  background: #e8c821;
  color: #fff;
}

div.jfilestyle.jfilestyle-theme-black input {
  /**/
}

div.jfilestyle.jfilestyle-theme-black label {
  border-color: #424242;
  background: #424242;
  color: #fff;
}

div.jfilestyle.jfilestyle-theme-red input {
  /**/
}

div.jfilestyle.jfilestyle-theme-red label {
  border-color: #f33f3f;
  background: #f33f3f;
  color: #fff;
}

div.jfilestyle.jfilestyle-theme-purple input {
  /**/
}

div.jfilestyle.jfilestyle-theme-purple label {
  border-color: #873aff;
  background: #873aff;
  color: #fff;
}

div.jfilestyle.jfilestyle-theme-asphalt input {
  /**/
}

div.jfilestyle.jfilestyle-theme-asphalt label {
  border-color: #435673;
  background: #435673;
  color: #fff;
}

.datepicker--cells {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.datepicker--cell {
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  position: relative;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
          justify-content: center;
  height: 32px;
  z-index: 1;
}

.datepicker--cell.-focus- {
  background: #f0f0f0;
}

.datepicker--cell.-current- {
  color: #4EB5E6;
}

.datepicker--cell.-current-.-focus- {
  color: #4a4a4a;
}

.datepicker--cell.-current-.-in-range- {
  color: #4EB5E6;
}

.datepicker--cell.-in-range- {
  background: rgba(92, 196, 239, 0.1);
  color: #4a4a4a;
  border-radius: 0;
}

.datepicker--cell.-in-range-.-focus- {
  background-color: rgba(92, 196, 239, 0.2);
}

.datepicker--cell.-disabled- {
  cursor: default;
  color: #aeaeae;
}

.datepicker--cell.-disabled-.-focus- {
  color: #aeaeae;
}

.datepicker--cell.-disabled-.-in-range- {
  color: #a1a1a1;
}

.datepicker--cell.-disabled-.-current-.-focus- {
  color: #aeaeae;
}

.datepicker--cell.-range-from- {
  border: 1px solid rgba(92, 196, 239, 0.5);
  background-color: rgba(92, 196, 239, 0.1);
  border-radius: 4px 0 0 4px;
}

.datepicker--cell.-range-to- {
  border: 1px solid rgba(92, 196, 239, 0.5);
  background-color: rgba(92, 196, 239, 0.1);
  border-radius: 0 4px 4px 0;
}

.datepicker--cell.-selected-, .datepicker--cell.-selected-.-current- {
  color: #fff;
  background: #5cc4ef;
}

.datepicker--cell.-range-from-.-range-to- {
  border-radius: 4px;
}

.datepicker--cell.-selected- {
  border: none;
}

.datepicker--cell.-selected-.-focus- {
  background: #45bced;
}

.datepicker--cell:empty {
  cursor: default;
}

.datepicker--days-names {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 8px 0 3px;
}

.datepicker--day-name {
  color: #FF9A19;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
          justify-content: center;
  -ms-flex: 1;
  -webkit-box-flex: 1;
          flex: 1;
  text-align: center;
  text-transform: uppercase;
  font-size: .8em;
}

.-only-timepicker- .datepicker--content, .datepicker--body, .datepicker-inline .datepicker--pointer {
  display: none;
}

.datepicker--cell-day {
  width: 14.28571%;
}

.datepicker--cells-months {
  height: 170px;
}

.datepicker--cell-month {
  width: 33.33%;
  height: 25%;
}

.datepicker--cells-years, .datepicker--years {
  height: 170px;
}

.datepicker--cell-year {
  width: 25%;
  height: 33.33%;
}

.datepickers-container {
  position: absolute;
  left: 0;
  top: 0;
}

@media print {
  .datepickers-container {
    display: none;
  }
}

.datepicker {
  background: #fff;
  border: 1px solid #dbdbdb;
  -webkit-box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
          box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  font-family: Tahoma,sans-serif;
  font-size: 14px;
  color: #4a4a4a;
  width: 250px;
  position: absolute;
  left: -100000px;
  opacity: 0;
  transition: opacity .3s ease,left 0s .3s,-webkit-transform .3s ease;
  -webkit-transition: opacity .3s ease,left 0s .3s,-webkit-transform .3s ease;
  transition: opacity .3s ease,transform .3s ease,left 0s .3s;
  transition: opacity .3s ease,transform .3s ease,left 0s .3s,-webkit-transform .3s ease;
  z-index: 100;
}

.datepicker.-from-top- {
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
}

.datepicker.-from-right- {
  -webkit-transform: translateX(8px);
  transform: translateX(8px);
}

.datepicker.-from-bottom- {
  -webkit-transform: translateY(8px);
  transform: translateY(8px);
}

.datepicker.-from-left- {
  -webkit-transform: translateX(-8px);
  transform: translateX(-8px);
}

.datepicker.active {
  opacity: 1;
  -webkit-transform: translate(0);
  transform: translate(0);
  transition: opacity .3s ease,left 0s 0s,-webkit-transform .3s ease;
  -webkit-transition: opacity .3s ease,left 0s 0s,-webkit-transform .3s ease;
  transition: opacity .3s ease,transform .3s ease,left 0s 0s;
  transition: opacity .3s ease,transform .3s ease,left 0s 0s,-webkit-transform .3s ease;
}

.datepicker-inline .datepicker {
  border-color: #d7d7d7;
  -webkit-box-shadow: none;
          box-shadow: none;
  position: static;
  left: auto;
  right: auto;
  opacity: 1;
  -webkit-transform: none;
  transform: none;
}

.datepicker--content {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  padding: 4px;
}

.datepicker--pointer {
  position: absolute;
  background: #fff;
  border-top: 1px solid #dbdbdb;
  border-right: 1px solid #dbdbdb;
  width: 10px;
  height: 10px;
  z-index: -1;
}

.datepicker--nav-action:hover, .datepicker--nav-title:hover {
  background: #f0f0f0;
}

.-top-center- .datepicker--pointer, .-top-left- .datepicker--pointer, .-top-right- .datepicker--pointer {
  top: calc(100% - 4px);
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}

.-right-bottom- .datepicker--pointer, .-right-center- .datepicker--pointer, .-right-top- .datepicker--pointer {
  right: calc(100% - 4px);
  -webkit-transform: rotate(225deg);
  transform: rotate(225deg);
}

.-bottom-center- .datepicker--pointer, .-bottom-left- .datepicker--pointer, .-bottom-right- .datepicker--pointer {
  bottom: calc(100% - 4px);
  -webkit-transform: rotate(315deg);
  transform: rotate(315deg);
}

.-left-bottom- .datepicker--pointer, .-left-center- .datepicker--pointer, .-left-top- .datepicker--pointer {
  left: calc(100% - 4px);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.-bottom-left- .datepicker--pointer, .-top-left- .datepicker--pointer {
  left: 10px;
}

.-bottom-right- .datepicker--pointer, .-top-right- .datepicker--pointer {
  right: 10px;
}

.-bottom-center- .datepicker--pointer, .-top-center- .datepicker--pointer {
  left: calc(50% - 10px / 2);
}

.-left-top- .datepicker--pointer, .-right-top- .datepicker--pointer {
  top: 10px;
}

.-left-bottom- .datepicker--pointer, .-right-bottom- .datepicker--pointer {
  bottom: 10px;
}

.-left-center- .datepicker--pointer, .-right-center- .datepicker--pointer {
  top: calc(50% - 10px / 2);
}

.datepicker--body.active {
  display: block;
}

.datepicker--nav {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #efefef;
  min-height: 32px;
  padding: 4px;
}

.-only-timepicker- .datepicker--nav {
  display: none;
}

.datepicker--nav-action, .datepicker--nav-title {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  cursor: pointer;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
          justify-content: center;
}

.datepicker--nav-action {
  width: 32px;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.datepicker--nav-action.-disabled- {
  visibility: hidden;
}

.datepicker--nav-action svg {
  width: 32px;
  height: 32px;
}

.datepicker--nav-action path {
  fill: none;
  stroke: #9c9c9c;
  stroke-width: 2px;
}

.datepicker--nav-title {
  border-radius: 4px;
  padding: 0 8px;
}

.datepicker--buttons, .datepicker--time {
  border-top: 1px solid #efefef;
  padding: 4px;
}

.datepicker--nav-title i {
  font-style: normal;
  color: #9c9c9c;
  margin-left: 5px;
}

.datepicker--nav-title.-disabled- {
  cursor: default;
  background: 0 0;
}

.datepicker--buttons {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
}

.datepicker--button {
  color: #4EB5E6;
  cursor: pointer;
  border-radius: 4px;
  -ms-flex: 1;
  -webkit-box-flex: 1;
          flex: 1;
  display: -ms-inline-flexbox;
  display: -webkit-inline-box;
  display: inline-flex;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
          justify-content: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  height: 32px;
}

.datepicker--button:hover {
  color: #4a4a4a;
  background: #f0f0f0;
}

.datepicker--time {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  position: relative;
}

.datepicker--time.-am-pm- .datepicker--time-sliders {
  -ms-flex: 0 1 138px;
  -webkit-box-flex: 0;
          flex: 0 1 138px;
  max-width: 138px;
}

.-only-timepicker- .datepicker--time {
  border-top: none;
}

.datepicker--time-sliders {
  -ms-flex: 0 1 153px;
  -webkit-box-flex: 0;
          flex: 0 1 153px;
  margin-right: 10px;
  max-width: 153px;
}

.datepicker--time-label {
  display: none;
  font-size: 12px;
}

.datepicker--time-current {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  -ms-flex: 1;
  -webkit-box-flex: 1;
          flex: 1;
  font-size: 14px;
  text-align: center;
  margin: 0 0 0 10px;
}

.datepicker--time-current-colon {
  margin: 0 2px 3px;
  line-height: 1;
}

.datepicker--time-current-hours, .datepicker--time-current-minutes {
  line-height: 1;
  font-size: 19px;
  font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
  position: relative;
  z-index: 1;
}

.datepicker--time-current-hours:after, .datepicker--time-current-minutes:after {
  content: '';
  background: #f0f0f0;
  border-radius: 4px;
  position: absolute;
  left: -2px;
  top: -3px;
  right: -2px;
  bottom: -2px;
  z-index: -1;
  opacity: 0;
}

.datepicker--time-current-hours.-focus-:after, .datepicker--time-current-minutes.-focus-:after {
  opacity: 1;
}

.datepicker--time-current-ampm {
  text-transform: uppercase;
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
  color: #9c9c9c;
  margin-left: 6px;
  font-size: 11px;
  margin-bottom: 1px;
}

.datepicker--time-row {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  font-size: 11px;
  height: 17px;
  background: -webkit-gradient(linear, left top, right top, from(#dedede), to(#dedede)) left 50%/100% 1px no-repeat;
  background: -webkit-linear-gradient(left, #dedede, #dedede) left 50%/100% 1px no-repeat;
  background: linear-gradient(to right, #dedede, #dedede) left 50%/100% 1px no-repeat;
}

.datepicker--time-row:first-child {
  margin-bottom: 4px;
}

.datepicker--time-row input[type=range] {
  background: 0 0;
  cursor: pointer;
  -ms-flex: 1;
  -webkit-box-flex: 1;
          flex: 1;
  height: 100%;
  padding: 0;
  margin: 0;
  -webkit-appearance: none;
}

.datepicker--time-row input[type=range]::-ms-tooltip {
  display: none;
}

.datepicker--time-row input[type=range]:hover::-webkit-slider-thumb {
  border-color: #b8b8b8;
}

.datepicker--time-row input[type=range]:hover::-moz-range-thumb {
  border-color: #b8b8b8;
}

.datepicker--time-row input[type=range]:hover::-ms-thumb {
  border-color: #b8b8b8;
}

.datepicker--time-row input[type=range]:focus {
  outline: 0;
}

.datepicker--time-row input[type=range]:focus::-webkit-slider-thumb {
  background: #5cc4ef;
  border-color: #5cc4ef;
}

.datepicker--time-row input[type=range]:focus::-moz-range-thumb {
  background: #5cc4ef;
  border-color: #5cc4ef;
}

.datepicker--time-row input[type=range]:focus::-ms-thumb {
  background: #5cc4ef;
  border-color: #5cc4ef;
}

.datepicker--time-row input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 12px;
  width: 12px;
  border-radius: 3px;
  border: 1px solid #dedede;
  background: #fff;
  cursor: pointer;
  -webkit-transition: background .2s;
  transition: background .2s;
  margin-top: -6px;
}

.datepicker--time-row input[type=range]::-moz-range-thumb {
  box-sizing: border-box;
  height: 12px;
  width: 12px;
  border-radius: 3px;
  border: 1px solid #dedede;
  background: #fff;
  cursor: pointer;
  -moz-transition: background .2s;
  transition: background .2s;
}

.datepicker--time-row input[type=range]::-ms-thumb {
  box-sizing: border-box;
  height: 12px;
  width: 12px;
  border-radius: 3px;
  border: 1px solid #dedede;
  background: #fff;
  cursor: pointer;
  -ms-transition: background .2s;
  transition: background .2s;
}

.datepicker--time-row input[type=range]::-webkit-slider-runnable-track {
  border: none;
  height: 1px;
  cursor: pointer;
  color: transparent;
  background: 0 0;
}

.datepicker--time-row input[type=range]::-moz-range-track {
  border: none;
  height: 1px;
  cursor: pointer;
  color: transparent;
  background: 0 0;
}

.datepicker--time-row input[type=range]::-ms-track {
  border: none;
  height: 1px;
  cursor: pointer;
  color: transparent;
  background: 0 0;
}

.datepicker--time-row input[type=range]::-ms-fill-lower {
  background: 0 0;
}

.datepicker--time-row input[type=range]::-ms-fill-upper {
  background: 0 0;
}

.datepicker--time-row span {
  padding: 0 12px;
}

.datepicker--time-icon {
  color: #9c9c9c;
  border: 1px solid;
  border-radius: 50%;
  font-size: 16px;
  position: relative;
  margin: 0 5px -1px 0;
  width: 1em;
  height: 1em;
}

.datepicker--time-icon:after, .datepicker--time-icon:before {
  content: '';
  background: currentColor;
  position: absolute;
}

.datepicker--time-icon:after {
  height: .4em;
  width: 1px;
  left: calc(50% - 1px);
  top: calc(50% + 1px);
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}

.datepicker--time-icon:before {
  width: .4em;
  height: 1px;
  top: calc(50% + 1px);
  left: calc(50% - 1px);
}

.datepicker--cell-day.-other-month-, .datepicker--cell-year.-other-decade- {
  color: #dedede;
}

.datepicker--cell-day.-other-month-:hover, .datepicker--cell-year.-other-decade-:hover {
  color: #c5c5c5;
}

.-disabled-.-focus-.datepicker--cell-day.-other-month-, .-disabled-.-focus-.datepicker--cell-year.-other-decade- {
  color: #dedede;
}

.-selected-.datepicker--cell-day.-other-month-, .-selected-.datepicker--cell-year.-other-decade- {
  color: #fff;
  background: #a2ddf6;
}

.-selected-.-focus-.datepicker--cell-day.-other-month-, .-selected-.-focus-.datepicker--cell-year.-other-decade- {
  background: #8ad5f4;
}

.-in-range-.datepicker--cell-day.-other-month-, .-in-range-.datepicker--cell-year.-other-decade- {
  background-color: rgba(92, 196, 239, 0.1);
  color: #ccc;
}

.-in-range-.-focus-.datepicker--cell-day.-other-month-, .-in-range-.-focus-.datepicker--cell-year.-other-decade- {
  background-color: rgba(92, 196, 239, 0.2);
}

.datepicker--cell-day.-other-month-:empty, .datepicker--cell-year.-other-decade-:empty {
  background: 0 0;
  border: none;
}

.select2-container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  margin: 0;
  position: relative;
  vertical-align: middle;
}

.select2-container .select2-selection--single {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
  display: block;
  height: 28px;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
}

.select2-container .select2-selection--single .select2-selection__rendered {
  display: block;
  padding-left: 8px;
  padding-right: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.select2-container .select2-selection--single .select2-selection__clear {
  position: relative;
}

.select2-container[dir="rtl"] .select2-selection--single .select2-selection__rendered {
  padding-right: 8px;
  padding-left: 20px;
}

.select2-container .select2-selection--multiple {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
  display: block;
  min-height: 32px;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
}

.select2-container .select2-selection--multiple .select2-selection__rendered {
  display: inline-block;
  overflow: hidden;
  padding-left: 8px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.select2-container .select2-search--inline {
  float: left;
}

.select2-container .select2-search--inline .select2-search__field {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  font-size: 100%;
  margin-top: 5px;
  padding: 0;
}

.select2-container .select2-search--inline .select2-search__field::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

.select2-dropdown {
  background-color: white;
  border: 1px solid #aaa;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  position: absolute;
  left: -100000px;
  width: 100%;
  z-index: 1051;
}

.select2-results {
  display: block;
}

.select2-results__options {
  list-style: none;
  margin: 0;
  padding: 0;
}

.select2-results__option {
  padding: 6px;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
}

.select2-results__option[aria-selected] {
  cursor: pointer;
}

.select2-container--open .select2-dropdown {
  left: 0;
}

.select2-container--open .select2-dropdown--above {
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.select2-container--open .select2-dropdown--below {
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.select2-search--dropdown {
  display: block;
  padding: 4px;
}

.select2-search--dropdown .select2-search__field {
  padding: 4px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.select2-search--dropdown .select2-search__field::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

.select2-search--dropdown.select2-search--hide {
  display: none;
}

.select2-close-mask {
  border: 0;
  margin: 0;
  padding: 0;
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  min-height: 100%;
  min-width: 100%;
  height: auto;
  width: auto;
  opacity: 0;
  z-index: 99;
  background-color: #fff;
  filter: alpha(opacity=0);
}

.select2-hidden-accessible {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

.select2-container--default .select2-selection--single {
  background-color: #fff;
  border: 1px solid #aaa;
  border-radius: 4px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #444;
  line-height: 28px;
}

.select2-container--default .select2-selection--single .select2-selection__clear {
  cursor: pointer;
  float: right;
  font-weight: bold;
}

.select2-container--default .select2-selection--single .select2-selection__placeholder {
  color: #999;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 26px;
  position: absolute;
  top: 1px;
  right: 1px;
  width: 20px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
  border-color: #888 transparent transparent transparent;
  border-style: solid;
  border-width: 5px 4px 0 4px;
  height: 0;
  left: 50%;
  margin-left: -4px;
  margin-top: -2px;
  position: absolute;
  top: 50%;
  width: 0;
}

.select2-container--default[dir="rtl"] .select2-selection--single .select2-selection__clear {
  float: left;
}

.select2-container--default[dir="rtl"] .select2-selection--single .select2-selection__arrow {
  left: 1px;
  right: auto;
}

.select2-container--default.select2-container--disabled .select2-selection--single {
  background-color: #eee;
  cursor: default;
}

.select2-container--default.select2-container--disabled .select2-selection--single .select2-selection__clear {
  display: none;
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-color: transparent transparent #888 transparent;
  border-width: 0 4px 5px 4px;
}

.select2-container--default .select2-selection--multiple {
  background-color: white;
  border: 1px solid #aaa;
  border-radius: 4px;
  cursor: text;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0 5px;
  width: 100%;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered li {
  list-style: none;
}

.select2-container--default .select2-selection--multiple .select2-selection__clear {
  cursor: pointer;
  float: right;
  font-weight: bold;
  margin-top: 5px;
  margin-right: 10px;
  padding: 1px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
  background-color: #e4e4e4;
  border: 1px solid #aaa;
  border-radius: 4px;
  cursor: default;
  float: left;
  margin-right: 5px;
  margin-top: 5px;
  padding: 0 5px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
  color: #999;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  margin-right: 2px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover {
  color: #333;
}

.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice, .select2-container--default[dir="rtl"] .select2-selection--multiple .select2-search--inline {
  float: right;
}

.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice {
  margin-left: 5px;
  margin-right: auto;
}

.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice__remove {
  margin-left: 2px;
  margin-right: auto;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
  border: solid black 1px;
  outline: 0;
}

.select2-container--default.select2-container--disabled .select2-selection--multiple {
  background-color: #eee;
  cursor: default;
}

.select2-container--default.select2-container--disabled .select2-selection__choice__remove {
  display: none;
}

.select2-container--default.select2-container--open.select2-container--above .select2-selection--single, .select2-container--default.select2-container--open.select2-container--above .select2-selection--multiple {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.select2-container--default.select2-container--open.select2-container--below .select2-selection--single, .select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
  border: 1px solid #aaa;
}

.select2-container--default .select2-search--inline .select2-search__field {
  background: transparent;
  border: none;
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-appearance: textfield;
}

.select2-container--default .select2-results > .select2-results__options {
  max-height: 200px;
  overflow-y: auto;
}

.select2-container--default .select2-results__option[role=group] {
  padding: 0;
}

.select2-container--default .select2-results__option[aria-disabled=true] {
  color: #999;
}

.select2-container--default .select2-results__option[aria-selected=true] {
  background-color: #ddd;
}

.select2-container--default .select2-results__option .select2-results__option {
  padding-left: 1em;
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__group {
  padding-left: 0;
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -1em;
  padding-left: 2em;
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -2em;
  padding-left: 3em;
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -3em;
  padding-left: 4em;
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -4em;
  padding-left: 5em;
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -5em;
  padding-left: 6em;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #5897fb;
  color: white;
}

.select2-container--default .select2-results__group {
  cursor: default;
  display: block;
  padding: 6px;
}

.select2-container--classic .select2-selection--single {
  background-color: #f7f7f7;
  border: 1px solid #aaa;
  border-radius: 4px;
  outline: 0;
  background-image: -webkit-linear-gradient(top, #fff 50%, #eee 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #fff), to(#eee));
  background-image: linear-gradient(to bottom, #fff 50%, #eee 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFEEEEEE', GradientType=0);
}

.select2-container--classic .select2-selection--single:focus {
  border: 1px solid #5897fb;
}

.select2-container--classic .select2-selection--single .select2-selection__rendered {
  color: #444;
  line-height: 28px;
}

.select2-container--classic .select2-selection--single .select2-selection__clear {
  cursor: pointer;
  float: right;
  font-weight: bold;
  margin-right: 10px;
}

.select2-container--classic .select2-selection--single .select2-selection__placeholder {
  color: #999;
}

.select2-container--classic .select2-selection--single .select2-selection__arrow {
  background-color: #ddd;
  border: none;
  border-left: 1px solid #aaa;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  height: 26px;
  position: absolute;
  top: 1px;
  right: 1px;
  width: 20px;
  background-image: -webkit-linear-gradient(top, #eee 50%, #ccc 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #eee), to(#ccc));
  background-image: linear-gradient(to bottom, #eee 50%, #ccc 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFEEEEEE', endColorstr='#FFCCCCCC', GradientType=0);
}

.select2-container--classic .select2-selection--single .select2-selection__arrow b {
  border-color: #888 transparent transparent transparent;
  border-style: solid;
  border-width: 5px 4px 0 4px;
  height: 0;
  left: 50%;
  margin-left: -4px;
  margin-top: -2px;
  position: absolute;
  top: 50%;
  width: 0;
}

.select2-container--classic[dir="rtl"] .select2-selection--single .select2-selection__clear {
  float: left;
}

.select2-container--classic[dir="rtl"] .select2-selection--single .select2-selection__arrow {
  border: none;
  border-right: 1px solid #aaa;
  border-radius: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  left: 1px;
  right: auto;
}

.select2-container--classic.select2-container--open .select2-selection--single {
  border: 1px solid #5897fb;
}

.select2-container--classic.select2-container--open .select2-selection--single .select2-selection__arrow {
  background: transparent;
  border: none;
}

.select2-container--classic.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-color: transparent transparent #888 transparent;
  border-width: 0 4px 5px 4px;
}

.select2-container--classic.select2-container--open.select2-container--above .select2-selection--single {
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-image: -webkit-linear-gradient(top, #fff 0%, #eee 50%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), color-stop(50%, #eee));
  background-image: linear-gradient(to bottom, #fff 0%, #eee 50%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFEEEEEE', GradientType=0);
}

.select2-container--classic.select2-container--open.select2-container--below .select2-selection--single {
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background-image: -webkit-linear-gradient(top, #eee 50%, #fff 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #eee), to(#fff));
  background-image: linear-gradient(to bottom, #eee 50%, #fff 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFEEEEEE', endColorstr='#FFFFFFFF', GradientType=0);
}

.select2-container--classic .select2-selection--multiple {
  background-color: white;
  border: 1px solid #aaa;
  border-radius: 4px;
  cursor: text;
  outline: 0;
}

.select2-container--classic .select2-selection--multiple:focus {
  border: 1px solid #5897fb;
}

.select2-container--classic .select2-selection--multiple .select2-selection__rendered {
  list-style: none;
  margin: 0;
  padding: 0 5px;
}

.select2-container--classic .select2-selection--multiple .select2-selection__clear {
  display: none;
}

.select2-container--classic .select2-selection--multiple .select2-selection__choice {
  background-color: #e4e4e4;
  border: 1px solid #aaa;
  border-radius: 4px;
  cursor: default;
  float: left;
  margin-right: 5px;
  margin-top: 5px;
  padding: 0 5px;
}

.select2-container--classic .select2-selection--multiple .select2-selection__choice__remove {
  color: #888;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  margin-right: 2px;
}

.select2-container--classic .select2-selection--multiple .select2-selection__choice__remove:hover {
  color: #555;
}

.select2-container--classic[dir="rtl"] .select2-selection--multiple .select2-selection__choice {
  float: right;
  margin-left: 5px;
  margin-right: auto;
}

.select2-container--classic[dir="rtl"] .select2-selection--multiple .select2-selection__choice__remove {
  margin-left: 2px;
  margin-right: auto;
}

.select2-container--classic.select2-container--open .select2-selection--multiple {
  border: 1px solid #5897fb;
}

.select2-container--classic.select2-container--open.select2-container--above .select2-selection--multiple {
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.select2-container--classic.select2-container--open.select2-container--below .select2-selection--multiple {
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.select2-container--classic .select2-search--dropdown .select2-search__field {
  border: 1px solid #aaa;
  outline: 0;
}

.select2-container--classic .select2-search--inline .select2-search__field {
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.select2-container--classic .select2-dropdown {
  background-color: #fff;
  border: 1px solid transparent;
}

.select2-container--classic .select2-dropdown--above {
  border-bottom: none;
}

.select2-container--classic .select2-dropdown--below {
  border-top: none;
}

.select2-container--classic .select2-results > .select2-results__options {
  max-height: 200px;
  overflow-y: auto;
}

.select2-container--classic .select2-results__option[role=group] {
  padding: 0;
}

.select2-container--classic .select2-results__option[aria-disabled=true] {
  color: grey;
}

.select2-container--classic .select2-results__option--highlighted[aria-selected] {
  background-color: #3875d7;
  color: #fff;
}

.select2-container--classic .select2-results__group {
  cursor: default;
  display: block;
  padding: 6px;
}

.select2-container--classic.select2-container--open .select2-dropdown {
  border-color: #5897fb;
}

.qu-create {
  padding: 20px 64px 24px;
}

@media screen and (max-width: 576px) {
  .qu-create {
    padding: 24px 16px;
  }
}

.qu-create .qu-row-btn .qu-button-danger {
  margin: 0 auto 0 0;
}

.qu-game-top {
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.16);
  width: 100%;
  max-width: 600px;
  margin: 0 auto 24px;
  border-radius: 8px;
}

.qu-game__header {
  background: #163D64;
  padding: 16px 0 24px;
  border-radius: 8px 8px 0 0;
}

.qu-game__header h5 {
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  margin-bottom: 8px;
}

.qu-game__header .qu-col:first-child {
  text-align: right;
  padding-right: 16px;
}

.qu-game__header .qu-col:last-child {
  text-align: left;
  padding-left: 16px;
}

.qu-game__header-player {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.qu-game__header-player h2 {
  font-weight: bold;
  font-size: 32px;
  line-height: 39px;
  margin-bottom: 0;
  color: #ffffff;
}

.qu-game__header-player.qu-first {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.qu-game__header-player.qu-second {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.qu-game__header-logo {
  width: 48px;
  height: 48px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 30px;
  position: relative;
}

.qu-game__header-logo img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.qu-game__goals {
  background-color: #ffffff;
  border-radius: 0 0 8px 8px;
  padding: 16px 0 16px;
}

.qu-game__goal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 12px;
}

.qu-game__goal:last-child {
  margin-bottom: 0;
}

.qu-game__goal time {
  display: block;
  font-family: "Roboto", sans-serif;
  color: #888888;
  margin-bottom: 2px;
}

.qu-game__goal p {
  font-family: "Roboto", sans-serif;
  color: #1A1A1A;
  margin-bottom: 0;
}

.qu-game__goal.qu-first {
  padding-right: 8px;
  text-align: right;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.qu-game__goal.qu-first .qu-icon {
  margin-left: 8px;
}

.qu-game__goal.qu-second {
  padding-left: 8px;
  text-align: left;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.qu-game__goal.qu-second .qu-icon {
  margin-right: 8px;
}

.qu-game__goal .qu-icon {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.qu-game__wrap {
  padding: 24px 0;
  width: 100%;
  background: #ffffff;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.16);
  border-radius: 8px;
}

.qu-game__event {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-left: 64px;
  padding-bottom: 44px;
  position: relative;
}

@media screen and (max-width: 576px) {
  .qu-game__event {
    padding-left: 16px;
  }
}

.qu-game__event:after {
  content: '';
  display: block;
  height: calc(100% - 44px);
  width: 0;
  position: absolute;
  bottom: 12px;
  left: 104px;
  border-right: 1px solid #DDDDDD;
}

@media screen and (max-width: 576px) {
  .qu-game__event:after {
    left: 56px;
  }
}

.qu-game__event--icon {
  width: 24px;
  height: 24px;
  margin-right: 16px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  position: relative;
}

.qu-game__event--icon .qu-icon {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.qu-game__event--time {
  font-weight: 500;
  line-height: 24px;
  font-family: "Roboto", sans-serif;
  color: #888888;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-right: 17px;
}

.qu-game__event--title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 16px;
}

.qu-game__event--title h6 {
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  line-height: 24px;
  color: #265C96;
  margin-bottom: 0;
}

.qu-game__event--title h6 span {
  color: #1A1A1A;
}

.qu-game__event--team {
  width: 24px;
  height: 24px;
  margin-right: 8px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}

.qu-game__event--team img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.qu-game__event--player {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 8px;
  padding-left: 32px;
}

.qu-game__event--player.qu-substitution {
  padding-left: 64px;
  margin-bottom: -20px;
}

.qu-game__event--player.qu-substitution .qu-game__event--ava {
  width: 24px;
  height: 24px;
  margin-right: 12px;
}

.qu-game__event--player.qu-substitution p {
  color: #888888;
}

.qu-game__event--player p {
  font-family: "Roboto", sans-serif;
  margin-bottom: 0;
  color: #1A1A1A;
}

.qu-game__event--player p span {
  font-weight: 500;
  padding-right: 6px;
}

.qu-game__event--ava {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 16px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  overflow: hidden;
  position: relative;
}

.qu-game__event--ava img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.qu-game__event-last {
  padding-bottom: 14px;
}

.qu-game__event-last:after {
  bottom: 0;
  height: calc(100% - 36px);
}

.qu-game__event-end {
  padding-bottom: 0;
}

.qu-game__event-end:after {
  display: none;
}

.qu-game__table {
  margin-left: 128px;
  margin-bottom: 30px;
}

@media screen and (max-width: 576px) {
  .qu-game__table {
    margin-left: 74px;
  }
}

.qu-game__table--row {
  width: 240px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "Roboto", sans-serif;
  color: #1A1A1A;
  margin-bottom: 10px;
}

@media screen and (max-width: 576px) {
  .qu-game__table--row {
    width: 100%;
    max-width: 230px;
  }
}

.qu-game__table--row:last-child {
  margin-bottom: 0;
}

.qu-game__table--col1 {
  width: 20px;
  text-align: left;
  font-weight: 500;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.qu-game__table--col2 {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: center;
}

.qu-game__table--col3 {
  width: 20px;
  text-align: right;
  font-weight: 500;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.qu-stat {
  background: #ffffff;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.16);
  border-radius: 8px;
  margin: 0 auto 16px;
  padding: 24px 0;
}

@media screen and (max-width: 576px) {
  .qu-stat {
    padding: 16px;
  }
}

.qu-stat__wrap {
  width: 100%;
  max-width: 472px;
  margin: 0 auto;
}

.qu-stat__title {
  position: relative;
  margin-bottom: 24px;
}

.qu-stat__title:after {
  content: '';
  display: block;
  width: 100%;
  height: 0;
  border-top: 1px solid #265C96;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  z-index: 1;
}

.qu-stat__title h2 {
  display: table;
  text-transform: uppercase;
  color: #265C96;
  padding: 0 14px;
  position: relative;
  background-color: #ffffff;
  margin: 0 auto;
  z-index: 2;
}

.qu-stat__accuracy h5, .qu-stat__accuracy h6 {
  text-align: center;
  font-family: "Roboto", sans-serif;
}

.qu-stat__accuracy h5 {
  margin-bottom: 3px;
}

.qu-stat__accuracy h6 {
  color: #888888;
  font-weight: 400;
  margin-bottom: 8px;
}

.qu-stat__accuracy--numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 16px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.qu-stat__accuracy--number {
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #1A1A1A;
  width: 40%;
}

.qu-stat__accuracy--number p {
  font-weight: 400;
  margin: 4px 0 0;
}

.qu-stat__accuracy--wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  position: relative;
  height: 122px;
  color: #ffffff;
  margin-bottom: 16px;
  border-radius: 8px;
}

.qu-stat__accuracy--wrap:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  top: 43px;
  left: 0;
  right: 0;
  margin: auto;
  width: 268px;
  height: 92px;
  border: 12px solid #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 8px;
}

@media screen and (max-width: 576px) {
  .qu-stat__accuracy--wrap:before {
    width: 172px;
  }
}

.qu-stat__accuracy--player1 {
  width: 50%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background-color: #163D64;
  border-radius: 8px 0 0 8px;
}

.qu-stat__accuracy--player2 {
  width: 50%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background-color: #9FBFD6;
  border-radius: 0 8px 8px 0;
}

.qu-stat__accuracy--line1 {
  position: absolute;
  top: 0;
  left: 0;
  padding: 8px 16px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #ffffff;
}

.qu-stat__accuracy--line1 h3 {
  color: #ffffff;
  margin-bottom: 0;
}

.qu-stat__accuracy--line1 h4 {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  margin-bottom: 12px;
}

.qu-stat__accuracy--line2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 118px;
  bottom: 0;
  top: auto;
  left: 0;
  right: 0;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 8px;
}

.qu-stat__accuracy--line2 h3 {
  color: #ffffff;
  margin-bottom: 0;
}

.qu-stat__accuracy--line2 h4 {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  margin-bottom: 7px;
  text-align: center;
}

.qu-progress {
  margin-bottom: 18px;
}

.qu-progress:last-child {
  margin-bottom: 0;
}

.qu-progress__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 4px;
  color: #1A1A1A;
}

.qu-progress__title h5 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  margin-bottom: 0;
}

.qu-progress__title h4 {
  margin-bottom: 0;
  width: 50px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.qu-progress__title h4:last-child {
  text-align: right;
}

.qu-progress__bar {
  width: 100%;
  height: 12px;
  position: relative;
  background: #9FBFD6;
  border-radius: 8px;
  overflow: hidden;
}

.qu-progress__line {
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  background: #163D64;
  border-radius: 8px;
  z-index: 2;
}

.qu-header {
  background-color: #163D64;
  padding: 12px 0;
}

.qu-header__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1288px;
  width: 100%;
  margin: 0 auto;
}

.qu-header__logo {
  display: block;
  cursor: pointer;
  width: 97px;
}

.qu-header__logo img {
  width: 100%;
}

.qu-header .qu-button-blue {
  margin-right: 8px;
}

.qu-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.qu-league {
  width: 100%;
  max-width: 472px;
  margin: 0 auto;
  padding: 24px 0;
}

@media screen and (max-width: 576px) {
  .qu-league {
    padding: 16px;
  }
}

.qu-league h3 {
  margin-bottom: 24px;
}

.qu-league__links {
  width: 100%;
}

@media screen and (max-width: 576px) {
  .qu-league__links {
    width: calc(100% + 32px);
    margin-left: -16px;
  }
}

.qu-league__link {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px 16px;
  position: relative;
  cursor: pointer;
  border-bottom: 1px solid #DDDDDD;
  text-decoration: none;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

.qu-league__link:hover {
  text-decoration: none;
}

.qu-league__link:hover p {
  color: #3F86D4;
}

.qu-league__link p {
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  color: #1A1A1A;
  margin-right: auto;
  margin-bottom: 0;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

.qu-league__link--icon {
  width: 48px;
  height: 48px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  position: relative;
  margin-right: 16px;
}

.qu-league__link--icon img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.qu-league__link--arrow {
  width: 16px;
  height: 16px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-left: 8px;
  background-image: url("../img/svg-sprite/sprite.svg");
  background-position: -4px -244px;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  margin-right: 0;
}

.qu-league .qu-row-btn {
  margin-top: 24px;
}

.qu-match {
  padding: 16px 0;
}

.qu-match__item {
  width: 100%;
  max-width: 472px;
  margin: 0 auto 16px;
  border-bottom: 1px solid #DDDDDD;
  padding-bottom: 7px;
}

.qu-match__item:last-child {
  margin-bottom: 0;
}

.qu-match__item time {
  display: block;
  text-align: center;
  font-family: "Roboto", sans-serif;
  color: #1A1A1A;
  margin-bottom: 9px;
}

.qu-match__success .qu-match__count {
  background-color: #4B9A4C;
}

.qu-match__fix .qu-match__count {
  background-color: #888888;
}

.qu-match__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.qu-match__player {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  max-width: 100%;
}

.qu-match__player h5 {
  font-family: "Roboto", sans-serif;
  color: #1A1A1A;
  font-weight: 500;
  margin-bottom: 6px;
}

.qu-match__player p {
  font-family: "Roboto", sans-serif;
  color: #888888;
  margin-bottom: 0;
}

.qu-match__first-player {
  text-align: right;
}

.qu-match__second-player {
  text-align: left;
}

.qu-match__score {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 68px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin: 0 8px;
}

.qu-match__count {
  text-align: center;
  width: 30px;
  height: 32px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background: #3F86D4;
  border-radius: 4px;
  line-height: 32px;
  color: #ffffff;
  margin-bottom: 8px;
}

.qu-match__time {
  text-align: center;
}

.qu-match__time p {
  font-family: "Roboto", sans-serif;
  color: #1A1A1A;
  margin-bottom: 5px;
}

.qu-match__time h6 {
  font-family: "Roboto", sans-serif;
  color: #1A1A1A;
  font-weight: 500;
  margin-bottom: 0;
}

.qu-modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 15;
  background: rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
  padding: 120px 0 40px;
}

.qu-modal.show {
  opacity: 1;
  visibility: visible;
}

.qu-modal__content {
  margin: auto;
  width: 100%;
  max-width: 400px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.16);
  border-radius: 8px;
  padding: 24px;
}

@media screen and (max-width: 576px) {
  .qu-modal__content {
    width: calc(100% - 32px);
  }
}

.qu-modal__header {
  margin-bottom: 24px;
}

.qu-modal__header h3 {
  margin-bottom: 16px;
}

.qu-modal__header h6 {
  font-family: "Roboto", sans-serif;
  margin-bottom: 16px;
}

.qu-modal__body p {
  font-family: "Roboto", sans-serif;
  color: #000000;
}

.qu-modal__body .qu-form-error {
  padding: 8px 0 44px;
}

@media screen and (max-width: 576px) {
  .qu-modal__body .qu-form-error {
    padding-bottom: 0;
  }
}

.qu-modal__body .qu-form-error p {
  font-family: "Roboto", sans-serif;
  color: #C90000;
  margin-bottom: 0;
}

.qu-modal__body .qu-row-btn {
  padding-top: 20px;
}

.qu-playlists {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 14px 16px;
  position: relative;
  cursor: pointer;
  border-bottom: 1px solid #DDDDDD;
  text-decoration: none;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

.qu-playlists:hover {
  text-decoration: none;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.16);
}

.qu-playlists h4 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: #000000;
  margin-bottom: 0;
}

.qu-playlists p {
  font-family: "Roboto", sans-serif;
  color: #888888;
  margin-right: auto;
  margin-bottom: 0;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

.qu-playlists__arrow {
  width: 16px;
  height: 16px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-left: auto;
  background-image: url("../img/svg-sprite/sprite.svg");
  background-position: -4px -244px;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  margin-right: 0;
}

.qu-playlist-item:hover {
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.16);
}

.qu-playlist-item:hover p {
  color: #000000;
}

.qu-playlist-item.qu-playlist-item-reorder {
  cursor: move;
  cursor: grab;
  cursor: -webkit-grab;
}

.qu-playlist-item.qu-playlist-item-reorder:active {
  cursor: grabbing;
  cursor: -webkit-grabbing;
}

.qu-playlist-item.qu-playlist-item-reorder .qu-playlist-item__reorder-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.qu-playlist-item__reorder-icon {
  width: 16px;
  height: 8px;
  margin-right: 16px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: none;
}

.qu-playlist-item__reorder-icon span {
  display: block;
  height: 0;
  width: 100%;
  border-top: 2px solid #BCBCBC;
  border-radius: 3px;
}

.qu-content {
  background: #ffffff;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.16);
  border-radius: 8px;
  padding: 24px 64px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

@media screen and (max-width: 576px) {
  .qu-content {
    padding: 24px 16px;
  }
}

.qu-content h3 {
  color: #000000;
  margin-bottom: 24px;
}

.qu-content .qu-row-btn {
  margin-top: 40px;
}

.qu-panel-filter {
  background-color: #ffffff;
  padding: 16px 0 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media screen and (max-width: 768px) {
  .qu-panel-filter {
    padding: 16px 0;
  }
}

.qu-panel-filter__wrap {
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media screen and (max-width: 768px) {
  .qu-panel-filter__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.qu-panel-filter__col {
  margin: 0 8px;
  width: 400px;
}

@media screen and (max-width: 768px) {
  .qu-panel-filter__col {
    width: 100%;
    margin: 0;
  }
}

.qu-panel-filter__switch {
  min-width: 185px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media screen and (max-width: 992px) {
  .qu-panel-filter__switch {
    min-width: 170px;
  }
}

@media screen and (max-width: 768px) {
  .qu-panel-filter__switch {
    width: 100%;
    margin-top: 10px;
  }
}

.qu-panel-filter__calendar-period {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.qu-panel-filter__calendar-period a {
  display: block;
  text-decoration: underline;
  font-family: "Roboto", sans-serif;
  color: #265C96;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  margin-left: 16px;
}

.qu-panel-filter__calendar-period a:hover {
  color: #3F86D4;
  text-decoration: underline;
}
