<div class="qu-page">
    {{> header/header-auth}}

    <div class="qu-page__body qu-stretch">
        <div class="qu-container">
            <div class="qu-content">
                <h3>Profile</h3>
                <form>
                    <div class="qu-form-input">
                        <label>Name</label>
                        <input type="text" name="" placeholder="Enter Name" value="Profile Name">
                    </div>

                    <div class="qu-form-input">
                        <label>Email</label>
                        <input type="email" name="" placeholder="Enter Email" value="test@mail.com">
                    </div>

                    <div class="qu-row-btn">
                        <button type="reset" class="qu-button qu-button-border">Change Password</button>
                        <button type="submit" class="qu-button qu-button-blue">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{{> modal/modal}}
