.qu-content {
    background: $white-color;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.16);
    border-radius: 8px;
    padding: 24px 64px;
    box-sizing: border-box;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;

    @media screen and (max-width: 576px) {
        padding: 24px 16px;
    }

    h3 {
        @extend %h3;
        color: $black-color;
        margin-bottom: 24px;
    }

    .qu-row-btn {
        margin-top: 40px;
    }
}
