<div class="qu-page">
    {{> header/header}}

    <div class="qu-panel-filter">
        <div class="qu-container">
            <div class="qu-panel-filter__wrap">
                <div class="qu-panel-filter__col">
                    <div class="qu-form-group">
                        <input type="text" name="" placeholder="Search schools, teams...">

                        <button type="button" class="qu-form-group__button">
                            <span class="icon icon-search"></span>
                        </button>
                    </div>
                </div>

                <div class="qu-panel-filter__col">
                    <div class="qu-form-group">
                        <input type="text" name="" placeholder="Choose date or period">

                        <button type="button" class="qu-form-group__button">
                            <span class="icon icon-calendar"></span>
                        </button>
                    </div>

                    <div class="qu-panel-filter__calendar-period">
                        <a href="javascript:void(0)">Last week</a>
                        <a href="javascript:void(0)">Last month</a>
                    </div>
                </div>

                <div class="qu-panel-filter__switch">
                    <div class="qu-switch">
                        <input type="checkbox" name="switch" id="switch-all" checked>
                        <label for="switch-all">All Matches</label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="qu-page__body">
        <div class="qu-container">
            <div class="qu-tabs">
                <div class="qu-tabs__nav">
                    <a href="javascript:void(0)" class="qu-tabs__link active" data-tab="#live">Live</a>
                    <a href="javascript:void(0)" class="qu-tabs__link" data-tab="#results">Results</a>
                    <a href="javascript:void(0)" class="qu-tabs__link" data-tab="#fixtures">Fixtures</a>
                </div>

                <div class="qu-tabs__content qu-no-result">
                    <div id="live" class="qu-tabs__item"></div>
                    <div id="results" class="qu-tabs__item"></div>
                    <div id="fixtures" class="qu-tabs__item"></div>

                    <div class="qu-tabs__no-result">
                        <p>There is no search results</p>
                        <img src="static/img/content/no-result.svg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{> modal/modal}}
