.qu-panel-filter {
    background-color: $white-color;
    padding: 16px 0 24px;
    display: flex;
    align-items: flex-end;
    @media screen and (max-width: 768px) {
        padding: 16px 0;
    }

    &__wrap {
        width: 100%;
        margin: 0 auto;
        display: flex;
        align-items: flex-start;
        justify-content: flex-end;
        @media screen and (max-width: 768px) {
            flex-direction: column;
        }
    }

    &__col {
        margin: 0 8px;
        width: 400px;
        @media screen and (max-width: 768px) {
            width: 100%;
            margin: 0;
        }
    }

    &__switch {
        min-width: 185px;
        display: flex;
        justify-content: flex-end;
        @media screen and (max-width: 992px) {
            min-width: 170px;
        }
        @media screen and (max-width: 768px) {
            width: 100%;
            margin-top: 10px;
        }
    }

    &__calendar-period {
        display: flex;
        justify-content: flex-end;

        a {
            display: block;
            text-decoration: underline;
            @extend %text14;
            font-family: $font-Roboto;
            color: $regular-blue-color;
            transition: all 0.25s;
            margin-left: 16px;

            &:hover {
                color: $semi-light-blue-color;
                text-decoration: underline;
            }
        }
    }
}
