.qu-header {
    background-color: $dark-blue-color;
    padding: 12px 0;

    &__wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 1288px;
        width: 100%;
        margin: 0 auto;
    }

    &__logo {
        display: block;
        cursor: pointer;
        width: 97px;

        img {
            width: 100%;
        }
    }

    .qu-button-blue {
        margin-right: 8px;
    }
}

.qu-flex {
    display: flex;
    align-items: center;
}
