<header class="qu-header">
    <div class="qu-container-full">
        <div class="qu-header__wrap">
            <a href="index.html" class="qu-header__logo" title="logo">
                <img src="static/img/content/logo.svg" alt="logo">
            </a>

            <div class="qu-dropdown">
                <div class="qu-dropdown__btn"><span class="icon icon-user"></span>Log In</div>

                <div class="qu-dropdown__menu">
                    <a href="login.html" title="">Log In</a>
                    <a href="signup.html" title="">Sign Up</a>
                </div>
            </div>
        </div>
    </div>
</header>
