<div class="qu-page">
    {{>header/header-auth}}

    <div class="qu-panel-filter">
        <div class="qu-container">
            <div class="qu-panel-filter__wrap">
                <div class="qu-panel-filter__col">
                    <div class="qu-form-group">
                        <input type="text" name="" placeholder="Search schools, teams...">

                        <button type="button" class="qu-form-group__button">
                            <span class="icon icon-search"></span>
                        </button>
                    </div>
                </div>

                <div class="qu-panel-filter__col">
                    <div class="qu-form-group">
                        <input type="text" name="" placeholder="Choose date or period">

                        <button type="button" class="qu-form-group__button">
                            <span class="icon icon-calendar"></span>
                        </button>
                    </div>

                    <div class="qu-panel-filter__calendar-period">
                        <a href="javascript:void(0)">Last week</a>
                        <a href="javascript:void(0)">Last month</a>
                    </div>
                </div>

                <div class="qu-panel-filter__switch">
                    <div class="qu-switch">
                        <input type="checkbox" name="switch" id="switch-all" checked>
                        <label for="switch-all">All Matches</label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="qu-page__body">
        <div class="qu-container">
            <div class="qu-tabs">
                <div class="qu-tabs__nav">
                    <a href="javascript:void(0)" class="qu-tabs__link active" data-tab="#live">Live</a>
                    <a href="javascript:void(0)" class="qu-tabs__link" data-tab="#results">Results</a>
                    <a href="javascript:void(0)" class="qu-tabs__link" data-tab="#fixtures">Fixtures</a>
                </div>

                <div class="qu-tabs__content">
                    <div id="live" class="qu-tabs__item active">
                        <div class="qu-match">
                            {{#repeat 5}}

                            <div class="qu-match__item">
                                <time>29 August 2020</time>
                                <div class="qu-match__wrap">
                                    <div class="qu-match__player qu-match__first-player">
                                        <h5>Southern<br>
                                            United</h5>
                                        <p>Southern United<br>
                                            Women</p>
                                    </div>

                                    <div class="qu-match__info">
                                        <div class="qu-match__score">
                                            <div class="qu-match__count">0</div>
                                            <div class="qu-match__count">4</div>
                                        </div>

                                        <div class="qu-match__time">
                                            <p>Full Time</p>
                                            <h6>94:05</h6>
                                        </div>
                                    </div>

                                    <div class="qu-match__player qu-match__second-player">
                                        <h5>Canterbury<br>
                                            United Pride</h5>
                                        <p>Canterbury<br>
                                            United Pride</p>
                                    </div>
                                </div>
                            </div>

                            {{/repeat}}
                        </div>
                    </div>

                    <div id="results" class="qu-tabs__item">
                        <div class="qu-match">
                            {{#repeat 5}}

                            <div class="qu-match__item qu-match__success">
                                <time>29 August 2020</time>
                                <div class="qu-match__wrap">
                                    <div class="qu-match__player qu-match__first-player">
                                        <h5>Southern<br>
                                            United</h5>
                                        <p>Southern United<br>
                                            Women</p>
                                    </div>

                                    <div class="qu-match__info">
                                        <div class="qu-match__score">
                                            <div class="qu-match__count">0</div>
                                            <div class="qu-match__count">4</div>
                                        </div>

                                        <div class="qu-match__time">
                                            <p>Full Time</p>
                                        </div>
                                    </div>

                                    <div class="qu-match__player qu-match__second-player">
                                        <h5>Canterbury<br>
                                            United Pride</h5>
                                        <p>Canterbury<br>
                                            United Pride</p>
                                    </div>
                                </div>
                            </div>

                            {{/repeat}}
                        </div>
                    </div>

                    <div id="fixtures" class="qu-tabs__item">
                        <div class="qu-match">
                            {{#repeat 5}}

                            <div class="qu-match__item qu-match__fix">
                                <time>29 August 2020</time>
                                <div class="qu-match__wrap">
                                    <div class="qu-match__player qu-match__first-player">
                                        <h5>Southern<br>
                                            United</h5>
                                        <p>Southern United<br>
                                            Women</p>
                                    </div>

                                    <div class="qu-match__info">
                                        <div class="qu-match__score">
                                            <div class="qu-match__count">0</div>
                                            <div class="qu-match__count">4</div>
                                        </div>

                                        <div class="qu-match__time">
                                            <p>Full Time</p>
                                        </div>
                                    </div>

                                    <div class="qu-match__player qu-match__second-player">
                                        <h5>Canterbury<br>
                                            United Pride</h5>
                                        <p>Canterbury<br>
                                            United Pride</p>
                                    </div>
                                </div>
                            </div>

                            {{/repeat}}
                        </div>
                    </div>

                    <div class="qu-tabs__no-result">
                        <p>There is no search results</p>
                        <img src="static/img/content/no-result.svg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
