.qu-match {
    padding: 16px 0;

    $f: &;

    &__item {
        width: 100%;
        max-width: 472px;
        margin: 0 auto 16px;
        border-bottom: 1px solid $semi-light-color;
        padding-bottom: 7px;

        &:last-child {
            margin-bottom: 0;
        }

        time {
            display: block;
            text-align: center;
            @extend %text14;
            font-family: $font-Roboto;
            color: $dark-color;
            margin-bottom: 9px;
        }
    }

    &__success {
        #{$f}__count {
            background-color: $success-color;
        }
    }

    &__fix {
        #{$f}__count {
            background-color: $semi-dark-color;
        }
    }

    &__wrap {
        display: flex;
        align-items: flex-start;
        justify-content: center;
    }

    &__player {
        flex-grow: 1;
        max-width: 100%;

        h5 {
            @extend %text16;
            font-family: $font-Roboto;
            color: $dark-color;
            font-weight: 500;
            margin-bottom: 6px;
        }

        p {
            @extend %text14;
            font-family: $font-Roboto;
            color: $semi-dark-color;
            margin-bottom: 0;
        }
    }

    &__first-player {
        text-align: right;
    }

    &__second-player {
        text-align: left;
    }

    &__score {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 68px;
        flex-shrink: 0;
        margin: 0 8px;
    }

    &__count {
        text-align: center;
        width: 30px;
        height: 32px;
        flex-shrink: 0;
        background: $semi-light-blue-color;
        border-radius: 4px;
        @extend %h3;
        line-height: 32px;
        color: $white-color;
        margin-bottom: 8px;
    }

    &__time {
        text-align: center;
        p {
            @extend %text14;
            font-family: $font-Roboto;
            color: $dark-color;
            margin-bottom: 5px;
        }
        h6 {
            @extend %text16;
            font-family: $font-Roboto;
            color: $dark-color;
            font-weight: 500;
            margin-bottom: 0;
        }
    }
}
