.qu-create {
    padding: 20px 64px 24px;
    @media screen and (max-width: 576px) {
        padding: 24px 16px;
    }

    .qu-row-btn {
        .qu-button-danger {
            margin: 0 auto 0 0;
        }
    }
}

