<div class="qu-page">
    {{> header/header-back-home}}

    <div class="qu-page__body qu-stretch">
        <div class="qu-container">
            <div class="qu-tabs">
                <div class="qu-tabs__nav">
                    <a href="javascript:void(0)" class="qu-tabs__link" data-tab="#League">League</a>
                    <a href="javascript:void(0)" class="qu-tabs__link active" data-tab="#Club">Club</a>
                    <a href="javascript:void(0)" class="qu-tabs__link" data-tab="#School">School</a>
                    <a href="javascript:void(0)" class="qu-tabs__link" data-tab="#Team">Team</a>
                    <a href="javascript:void(0)" class="qu-tabs__link" data-tab="#Player">Player</a>
                </div>

                <div class="qu-tabs__content">
                    <div id="League" class="qu-tabs__item qu-height-auto">
                        <div class="qu-create">
                            <div class="qu-form-photo">
                                <div class="qu-form-photo__value">
                                    <img src="#" alt="image"
                                         class="upload-img qu-form-photo__img">
                                </div>
                                <div class="qu-form-photo__link">
                                    <input type="file" class="js-file qu-button qu-button-border"
                                           name="passport_photo"
                                           value="Choose File"
                                           >
                                </div>
                            </div>

                            <div class="qu-form-input">
                                <label>Name <span>*</span></label>
                                <input type="text" name="" placeholder="Enter Name">
                            </div>

                            <div class="qu-form-input qu-form-select">
                                <label>Country <span>*</span></label>

                                <select class="select2" style="width: 100%" data-placeholder="Select Country">
                                    <option></option>
                                    <option>Country 1</option>
                                </select>
                            </div>

                            <div class="qu-form-input qu-form-select">
                                <label>League Level <span>*</span></label>

                                <select class="select2" style="width: 100%" data-placeholder="Select League Level">
                                    <option></option>
                                    <option>League Level 1</option>
                                </select>
                            </div>

                            <div class="qu-form-input qu-form-select">
                                <label>Divisions</label>

                                <select class="select2" style="width: 100%" data-placeholder="Select Division">
                                    <option></option>
                                    <option>Division1</option>
                                </select>
                            </div>

                            <div class="qu-form-input qu-form-select">
                                <label>Cups</label>

                                <select class="select2" style="width: 100%" data-placeholder="Select Cup">
                                    <option></option>
                                    <option>Cup1</option>
                                </select>
                            </div>

                            <div class="qu-form-input">
                                <label>Confederation</label>
                                <input type="text" name="" placeholder="Enter Confederation">
                            </div>

                            <div class="qu-form-input">
                                <label>Website</label>
                                <input type="text" name="" placeholder="Enter Website">
                            </div>

                            <div class="qu-row-btn mt-40">
                                <button type="button" class="qu-button qu-button-danger">Delete</button>

                                <button type="reset" class="qu-button qu-button-border">Cancel</button>
                                <button type="submit" class="qu-button qu-button-blue">Submit</button>
                            </div>
                        </div>
                    </div>

                    <div id="Club" class="qu-tabs__item qu-height-auto">
                        <div class="qu-create">
                            <div class="qu-form-photo">
                                <div class="qu-form-photo__value">
                                    <img src="#" alt="image"
                                         class="upload-img qu-form-photo__img">
                                </div>
                                <div class="qu-form-photo__link">
                                    <input type="file" class="js-file qu-button qu-button-border"
                                           name="passport_photo"
                                           value="Choose File"
                                           id="">
                                </div>
                            </div>

                            <div class="qu-form-input">
                                <label>Name <span>*</span></label>
                                <input type="text" name="" placeholder="Enter Name">
                            </div>

                            <div class="qu-form-input qu-form-select">
                                <label>Abbreviated Name <span>*</span></label>
                                <input type="text" name="" placeholder="Enter Abbreviated Name">
                            </div>

                            <div class="qu-form-input qu-form-select">
                                <label>Type <span>*</span></label>

                                <select class="select2" style="width: 100%" data-placeholder="Select Type" disabled>
                                    <option></option>
                                    <option selected>Club</option>
                                </select>
                            </div>

                            <div class="qu-form-input">
                                <label>County/State</label>
                                <input type="text" name="" placeholder="Enter Country/State">
                            </div>

                            <div class="qu-form-input qu-form-select">
                                <label>Country</label>

                                <select class="select2" style="width: 100%" data-placeholder="Select Country">
                                    <option></option>
                                    <option>Country</option>
                                    <option>Country 2</option>
                                </select>
                            </div>

                            <div class="qu-form-input">
                                <label>Website</label>
                                <input type="text" name="" placeholder="Enter Website">
                            </div>

                            <div class="qu-row-btn mt-40">
                                <button type="button" class="qu-button qu-button-danger">Delete</button>

                                <button type="reset" class="qu-button qu-button-border">Cancel</button>
                                <button type="submit" class="qu-button qu-button-blue">Submit</button>
                            </div>
                        </div>
                    </div>

                    <div id="School" class="qu-tabs__item qu-height-auto">
                        <div class="qu-create">
                            <div class="qu-form-photo">
                                <div class="qu-form-photo__value">
                                    <img src="#" alt="image"
                                         class="upload-img qu-form-photo__img">
                                </div>
                                <div class="qu-form-photo__link">
                                    <input type="file" class="js-file qu-button qu-button-border"
                                           name="passport_photo"
                                           value="Choose File"
                                           >
                                </div>
                            </div>

                            <div class="qu-form-input">
                                <label>Name <span>*</span></label>
                                <input type="text" name="" placeholder="Enter Name">
                            </div>

                            <div class="qu-form-input qu-form-select">
                                <label>Abbreviated Name <span>*</span></label>
                                <input type="text" name="" placeholder="Enter Abbreviated Name" value="SLS">
                            </div>

                            <div class="qu-form-input qu-form-select">
                                <label>Type <span>*</span></label>

                                <select class="select2" style="width: 100%" data-placeholder="Select Type" disabled>
                                    <option></option>
                                    <option >Club</option>
                                    <option selected>School</option>
                                </select>
                            </div>

                            <div class="qu-form-input">
                                <label>County/State</label>
                                <input type="text" name="" placeholder="Enter Country/State">
                            </div>

                            <div class="qu-form-input qu-form-select">
                                <label>Country</label>

                                <select class="select2" style="width: 100%" data-placeholder="Select Country">
                                    <option></option>
                                    <option>Country</option>
                                    <option>Country 2</option>
                                </select>
                            </div>

                            <div class="qu-form-input">
                                <label>Website</label>
                                <input type="text" name="" placeholder="Enter Website">
                            </div>

                            <div class="qu-row-btn mt-40">
                                <button type="button" class="qu-button qu-button-danger">Delete</button>

                                <button type="reset" class="qu-button qu-button-border">Cancel</button>
                                <button type="submit" class="qu-button qu-button-blue">Submit</button>
                            </div>
                        </div>
                    </div>

                    <div id="Team" class="qu-tabs__item qu-height-auto">
                        <div class="qu-create">
                            <form>
                                <div class="qu-form-input qu-form-select">
                                    <label>Team Type <span>*</span></label>

                                    <select class="select2" style="width: 100%" data-placeholder="Select Team Type">
                                        <option></option>
                                        <option>School</option>
                                        <option>2</option>
                                    </select>
                                </div>

                                <div class="qu-form-input">
                                    <label>Name <span>*</span></label>
                                    <input type="text" name="" placeholder="Enter Name">
                                </div>

                                <div class="qu-form-input qu-form-select">
                                    <label>Club <span>*</span></label>

                                    <select class="select2" multiple style="width: 100%" data-placeholder="Select Club">
                                        <option></option>
                                        <option>Slough Town</option>
                                        <option>Slough Town 2</option>
                                    </select>
                                </div>

                                <div class="qu-form-input qu-form-select">
                                    <label>League <span>*</span></label>

                                    <select class="select2" multiple style="width: 100%" data-placeholder="Select League">
                                        <option></option>
                                        <option>Evo-Stik League South</option>
                                        <option>League South</option>
                                    </select>
                                </div>

                                <div class="qu-form-input qu-form-select">
                                    <label>Age Group</label>

                                    <select class="select2" style="width: 100%" data-placeholder="Select Age Group">
                                        <option></option>
                                        <option>Adults</option>
                                        <option>36-70</option>
                                    </select>
                                </div>

                                <div class="qu-form-input qu-form-select">
                                    <label>Gender</label>

                                    <select class="select2" style="width: 100%" data-placeholder="Select Gender">
                                        <option></option>
                                        <option>Male</option>
                                        <option>Female</option>
                                    </select>
                                </div>

                                <div class="qu-row-btn mt-40">
                                    <button type="button" class="qu-button qu-button-danger">Delete</button>

                                    <button type="reset" class="qu-button qu-button-border">Cancel</button>
                                    <button type="submit" class="qu-button qu-button-blue">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div id="Player" class="qu-tabs__item qu-height-auto active">
                        <div class="qu-create">
                            <div class="qu-form-photo">
                                <div class="qu-form-photo__value">
                                    <img src="#" alt="image"
                                         class="upload-img qu-form-photo__img">
                                </div>

                                <div class="qu-form-photo__name">No file chosen</div>

                                <div class="qu-form-photo__link">
                                    <input type="file" class="js-file qu-button qu-button-border"
                                           name="passport_photo"
                                           value="Choose File"
                                           >
                                </div>
                            </div>

                            <div class="qu-form-input">
                                <label>Name <span>*</span></label>
                                <input type="text" name="" placeholder="Enter Name">
                            </div>

                            <div class="qu-form-input qu-form-select">
                                <label>No</label>
                                <input type="text" name="" placeholder="Enter Number"
                                       oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');">
                            </div>

                            <div class="qu-form-input qu-form-select">
                                <label>Position <span>*</span></label>

                                <select class="select2" style="width: 100%" data-placeholder="Select Position">
                                    <option></option>
                                    <option>1</option>
                                    <option>2</option>
                                </select>
                            </div>

                            <div class="qu-form-input qu-form-select">
                                <label>Team <span>*</span></label>

                                <select class="select2" style="width: 100%" data-placeholder="Select Team">
                                    <option></option>
                                    <option>Team 1</option>
                                    <option>Team 2</option>
                                </select>
                            </div>

                            <div class="qu-form-input">
                                <label>Email</label>
                                <input type="email" name="" placeholder="Enter Email">
                            </div>

                            <div class="qu-form-input">
                                <label>Age</label>
                                <input type="text" name="" placeholder="Enter Age"
                                       oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');">
                            </div>

                            <div class="qu-form-input qu-form-select">
                                <label>Gender <span>*</span></label>

                                <select class="select2" style="width: 100%" data-placeholder="Select Gender">
                                    <option></option>
                                    <option>Male</option>
                                    <option>Female</option>
                                </select>
                            </div>

                            <div class="qu-row-btn mt-40">
                                <button type="button" class="qu-button qu-button-danger">Delete</button>

                                <button type="reset" class="qu-button qu-button-border">Cancel</button>
                                <button type="submit" class="qu-button qu-button-blue">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{> modal/modal}}
