<div class="qu-page">
    {{> header/header-auth}}

    <div class="qu-page__body qu-stretch">
        <div class="qu-container">
            <div class="qu-content">
                <h3>Change Password</h3>
                <form>
                    <div class="qu-form-input">
                        <label>Old Password</label>
                        <input type="password" name="" placeholder="Enter Password">
                    </div>

                    <div class="qu-form-input">
                        <label>New Password</label>
                        <input type="password" name="" placeholder="Enter Password">
                    </div>

                    <div class="qu-form-input">
                        <label>Coniform Password</label>
                        <input type="password" name="" placeholder="Enter Password">
                    </div>

                    <div class="qu-row-btn">
                        <button type="reset" class="qu-button qu-button-border">Cancel</button>
                        <button type="submit" class="qu-button qu-button-blue">Save Password</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{{> modal/modal}}
