<div class="qu-page">
    {{> header/header-auth}}

    <div class="qu-page__body qu-stretch">
        <div class="qu-container">
            <div class="qu-content">
                <form>
                    <div class="qu-form-photo">
                        <div class="qu-form-photo__value">
                            <img src="#" id="upload-img" alt="image"
                                 class="qu-form-photo__img">
                        </div>
                        <div class="qu-form-photo__link">
                            <input type="file" class="js-file qu-button qu-button-border"
                                   name="passport_photo"
                                   value="Choose File"
                                   id="upload">
                        </div>
                    </div>

                    <div class="qu-form-input qu-form-select">
                        <label>Duration</label>
                        <select class="select2" style="width: 100%" data-placeholder="Select User">
                            <option></option>
                            <option>1</option>
                            <option>2</option>
                        </select>
                    </div>

                    <div class="qu-form-input qu-form-select">
                        <label>Transition</label>
                        <select class="select2" style="width: 100%" data-placeholder="Select Team">
                            <option></option>
                            <option>Random</option>
                            <option>Random 1</option>
                        </select>
                    </div>

                    <div class="qu-row-btn qu-row-between">
                        <button type="button" data-modal="#modalDelete"  class="qu-button qu-button-danger">Delete
                        </button>
                        <button type="submit" class="qu-button qu-button-blue">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{{> modal/modal}}
